<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-card-heading" data-cy="CardCreateUpdateHeading">Create or edit a Card</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_metric">Metric</label>
          <select class="form-control" name="metric" formControlName="metric" id="field_metric" data-cy="metric">
            <option [ngValue]="null"></option>
            <option *ngFor="let cardType of cardTypeValues" [value]="cardType">{{ cardType }}</option>
          </select>
          <div *ngIf="editForm.get('metric')!.invalid && (editForm.get('metric')!.dirty || editForm.get('metric')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('metric')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_timeFrame">Time Frame</label>
          <input type="text" class="form-control" name="timeFrame" id="field_timeFrame" data-cy="timeFrame" formControlName="timeFrame" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_metricValue">Metric Value</label>
          <input
            type="number"
            class="form-control"
            name="metricValue"
            id="field_metricValue"
            data-cy="metricValue"
            formControlName="metricValue"
          />
          <div *ngIf="editForm.get('metricValue')!.invalid && (editForm.get('metricValue')!.dirty || editForm.get('metricValue')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('metricValue')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('metricValue')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_timeGenerated">Time Generated</label>
          <div class="d-flex">
            <input
              id="field_timeGenerated"
              data-cy="timeGenerated"
              type="datetime-local"
              class="form-control"
              name="timeGenerated"
              formControlName="timeGenerated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('timeGenerated')!.invalid && (editForm.get('timeGenerated')!.dirty || editForm.get('timeGenerated')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('timeGenerated')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('timeGenerated')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_appUser">App User</label>
          <select
            class="form-control"
            id="field_appUser"
            data-cy="appUser"
            name="appUser"
            formControlName="appUser"
            [compareWith]="compareAppUser"
          >
            <option *ngIf="editForm.get(['appUser'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="appUserOption" *ngFor="let appUserOption of appUsersSharedCollection">{{ appUserOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['appUser'])!.invalid && (editForm.get(['appUser'])!.dirty || editForm.get(['appUser'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['appUser'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
