<div>
  <h2 id="page-heading" data-cy="CardMetricHeading">
    <span>Card Metrics</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-card-metric"
        [routerLink]="['/card-metric/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Card Metric </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cardMetrics?.length === 0">
    <span>No Card Metrics found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cardMetrics && cardMetrics.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="metric">
            <div class="d-flex">
              <span>Metric</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cardTemplate.id">
            <div class="d-flex">
              <span>Card Template</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cardMetric of cardMetrics; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/card-metric', cardMetric.id, 'view']">{{ cardMetric.id }}</a>
          </td>
          <td>{{ cardMetric.metric }}</td>
          <td>
            <div *ngIf="cardMetric.cardTemplate">
              <a [routerLink]="['/card-template', cardMetric.cardTemplate.id, 'view']">{{ cardMetric.cardTemplate.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/card-metric', cardMetric.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/card-metric', cardMetric.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(cardMetric)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
