<p>
  We are Team 53. This privacy policy explains how our organisation uses the personal data we collect from you when you use our website.
</p>
<section>
  <h4>Topics</h4>

  <ol>
    <li><a href="javascript:" (click)="scrollTo('data-collection')">What data do we collect</a></li>
    <li><a href="javascript:" (click)="scrollTo('data-collection-method')">How do we collect your data</a></li>
    <li><a href="javascript:" (click)="scrollTo('data-usage')">How will we use your data</a></li>
    <li><a href="javascript:" (click)="scrollTo('data-storage')">How do we store your data</a></li>
    <li><a href="javascript:" (click)="scrollTo('data-protection-rights')">What are your data protection rights</a></li>
    <li><a href="javascript:" (click)="scrollTo('cookies')">What are cookies</a></li>
    <li><a href="javascript:" (click)="scrollTo('cookie-usage')">How do we use cookies</a></li>
    <li><a href="javascript:" (click)="scrollTo('cookie-types')">What types of cookies do we use</a></li>
    <li><a href="javascript:" (click)="scrollTo('manage-cookies')">How to manage your cookies</a></li>
    <li><a href="javascript:" (click)="scrollTo('privacy-other-websites')">Privacy policies of other websites</a></li>
    <li><a href="javascript:" (click)="scrollTo('policy-changes')">Changes to our privacy policy</a></li>
    <li><a href="javascript:" (click)="scrollTo('contact-us')">How to contact us</a></li>
  </ol>
</section>

<section id="data-collection">
  <h3>What data do we collect?</h3>

  <p>Our team collects personal identification information. This includes your:</p>

  <ul>
    <li>Name,</li>
    <li>Email address,</li>
    <li>Spotify name.</li>
  </ul>
</section>

<section id="data-collection-method">
  <h3>How do we collect your data?</h3>

  <p>You directly provide our team with most of the data we collect. We collect data and process data when you:</p>

  <ul>
    <li>Register online,</li>
    <li>Use or view our website via your browser’s cookies.</li>
  </ul>

  <p>Our team may also receive your data indirectly from Spotify.</p>
</section>

<section id="data-usage">
  <h3>How will we use your data?</h3>

  <p>Our team collects your data so that we can:</p>

  <ul>
    <li>Manage your account,</li>
    <li>Connect your Spotify account to your account with us.</li>
  </ul>
</section>

<section id="data-storage">
  <h3>How do we store your data?</h3>

  <p>Our team securely stores your data in the UK/EU/EEA.</p>

  <p>Our team will keep your data until 01/06/2024. Once this time period has expired, we will delete your data by a database DROP.</p>
</section>

<section id="data-protection-rights">
  <h3>What are your data protection rights?</h3>
  <p>Our team would like to make sure you are fully aware of all of our data protection rights. Every user is entitled to the following:</p>

  <ul>
    <li>
      <b>The right to access</b>
      <p>You have the right to request our team for copies of your personal data.</p>
    </li>

    <li>
      <b>The right to rectification</b>
      <p>
        You have the right to request that our team correct any information you believe is inaccurate. You also have the right to request
        our team to complete information you believe is incomplete.
      </p>
    </li>

    <li>
      <b>The right to erasure</b>
      <p>You have the right to request that our team erase your personal data, under certain conditions.</p>
    </li>

    <li>
      <b>The right to restrict processing</b>
      <p>You have the right to request that our team restrict the processing of your personal data, under certain conditions.</p>
    </li>

    <li>
      <b>The right to object to processing</b>
      <p>You have the right to object to our team’s processing of your personal data, under certain conditions.</p>
    </li>

    <li>
      <b>The right to data portability</b>
      <p>
        You have the right to request that our team transfer the data that we have collected to another organisation, or directly to you,
        under certain conditions.
      </p>
    </li>
  </ul>

  <p>
    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our
    email:
  </p>

  <ul>
    <li><a href="mailto:fxr233@student.bham.ac.uk">fxr233@student.bham.ac.uk</a></li>
    <li><a href="mailto:rxb208@student.bham.ac.uk">rxb208@student.bham.ac.uk</a></li>
    <li><a href="mailto:rxb256@student.bham.ac.uk">rxb256@student.bham.ac.uk</a></li>
    <li><a href="mailto:jfh245@student.bham.ac.uk">jfh245@student.bham.ac.uk</a></li>
    <li><a href="mailto:sxh1499@student.bham.ac.uk">sxh1499@student.bham.ac.uk</a></li>
    <li><a href="mailto:mxh1131@student.bham.ac.uk">mxh1131@student.bham.ac.uk</a></li>
    <li><a href="mailto:cxw298@student.bham.ac.uk">cxw298@student.bham.ac.uk</a></li>
  </ul>
</section>

<section id="cookies">
  <h3>What are cookies?</h3>

  <p>
    Cookies are text files places on your computer to collect standard internet log information and visitor behaviour information. When you
    visit our websites, we may collect information from you automatically through cookies or similar technology.
  </p>
  <p>For further information, visit <a href="https://www.allaboutcookies.org">allaboutcookies.org</a></p>
</section>

<section id="cookie-usage">
  <h3>How do we use cookies?</h3>

  <p>Our team uses cookies in a range of ways to improve your experience on our website, including:</p>

  <ul>
    <li>Keeping you signed in</li>
    <li>Remembering personal preferences</li>
  </ul>
</section>

<section id="cookie-types">
  <h3>What types of cookies do we use?</h3>

  <p>
    There are a number of different types of cookies a website can use. However, our website uses just uses
    <b>Functionality cookies</b>.
  </p>
  <p>
    We use these cookies so that we recognise you on our website and remember your previously selected preferences. These could include what
    contrast you use.
  </p>
</section>

<section id="manage-cookies">
  <h3>How to manage cookies</h3>

  <p>
    You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a
    few cases, some of our website features may not function as a result.
  </p>
</section>

<section id="privacy-other-websites">
  <h3>Privacy policies of other websites</h3>

  <p>
    Our team’s website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to
    another website, you should read their privacy policy.
  </p>
</section>

<section id="policy-changes">
  <h3>Changes to our privacy policy</h3>

  <p>
    Our team keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on
    14 April 2024.
  </p>
</section>

<section id="contact-us">
  <h3>How to contact us</h3>

  <p>
    If you have any questions about our team’s privacy policy, the data we hold on you, or you would like to exercise one of your data
    protection rights, please do no hesitate to contact us.
  </p>

  <p>You can email us at one of the following email addresses:</p>

  <ul>
    <li><a href="mailto:fxr233@student.bham.ac.uk">fxr233@student.bham.ac.uk</a></li>
    <li><a href="mailto:rxb208@student.bham.ac.uk">rxb208@student.bham.ac.uk</a></li>
    <li><a href="mailto:rxb256@student.bham.ac.uk">rxb256@student.bham.ac.uk</a></li>
    <li><a href="mailto:jfh245@student.bham.ac.uk">jfh245@student.bham.ac.uk</a></li>
    <li><a href="mailto:sxh1499@student.bham.ac.uk">sxh1499@student.bham.ac.uk</a></li>
    <li><a href="mailto:mxh1131@student.bham.ac.uk">mxh1131@student.bham.ac.uk</a></li>
    <li><a href="mailto:cxw298@student.bham.ac.uk">cxw298@student.bham.ac.uk</a></li>
  </ul>

  <p>
    Should you wish to report a complaint or if you feel that our team has not addressed your concern in a satisfactory manner, you may
    contact the University using this email address: <a href="mailto:csoffice@contacts.bham.ac.uk">csoffice@contacts.bham.ac.uk</a>.
  </p>
</section>
