<div class="footer">
  <p style="text-align: center; font-style: italic; width: 80%; margin: 0 auto; padding-bottom: 8px; font-size: 0.9em">
    You are accessing an experimental web application developed by participants of the Team Project 2024 module.
    <a (click)="openModal(gdprModal)">View GDPR Privacy Policy</a>
  </p>
</div>

<ng-template #gdprModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">GDPR Privacy Policy</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <jhi-gdpr-policy></jhi-gdpr-policy>
  </div>
  <div class="modal-footer">
    <button type="button" class="button secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
