<div>
  <h2 id="page-heading" data-cy="FriendRecommendationHeading">
    <span>Friend Recommendations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-friend-recommendation"
        [routerLink]="['/friend-recommendation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Friend Recommendation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="friendRecommendations?.length === 0">
    <span>No Friend Recommendations found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="friendRecommendations && friendRecommendations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="similarity">
            <div class="d-flex">
              <span>Similarity</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span>Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="aboutAppUser.id">
            <div class="d-flex">
              <span>About App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="forAppUser.id">
            <div class="d-flex">
              <span>For App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friendRecommendation of friendRecommendations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/friend-recommendation', friendRecommendation.id, 'view']">{{ friendRecommendation.id }}</a>
          </td>
          <td>{{ friendRecommendation.similarity }}</td>
          <td>{{ friendRecommendation.createdAt | formatMediumDate }}</td>
          <td>
            <div *ngIf="friendRecommendation.aboutAppUser">
              <a [routerLink]="['/app-user', friendRecommendation.aboutAppUser.id, 'view']">{{ friendRecommendation.aboutAppUser.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="friendRecommendation.forAppUser">
              <a [routerLink]="['/app-user', friendRecommendation.forAppUser.id, 'view']">{{ friendRecommendation.forAppUser.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/friend-recommendation', friendRecommendation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/friend-recommendation', friendRecommendation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(friendRecommendation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
