<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="friendRecommendation">
      <h2 data-cy="friendRecommendationDetailsHeading"><span>Friend Recommendation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ friendRecommendation.id }}</span>
        </dd>
        <dt><span>Similarity</span></dt>
        <dd>
          <span>{{ friendRecommendation.similarity }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ friendRecommendation.createdAt | formatMediumDate }}</span>
        </dd>
        <dt><span>About App User</span></dt>
        <dd>
          <div *ngIf="friendRecommendation.aboutAppUser">
            <a [routerLink]="['/app-user', friendRecommendation.aboutAppUser.id, 'view']">{{ friendRecommendation.aboutAppUser.id }}</a>
          </div>
        </dd>
        <dt><span>For App User</span></dt>
        <dd>
          <div *ngIf="friendRecommendation.forAppUser">
            <a [routerLink]="['/app-user', friendRecommendation.forAppUser.id, 'view']">{{ friendRecommendation.forAppUser.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/friend-recommendation', friendRecommendation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
