<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="friendRequest">
      <h2 data-cy="friendRequestDetailsHeading"><span>Friend Request</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ friendRequest.id }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ friendRequest.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Initiating App User</span></dt>
        <dd>
          <div *ngIf="friendRequest.initiatingAppUser">
            <a [routerLink]="['/app-user', friendRequest.initiatingAppUser.id, 'view']">{{ friendRequest.initiatingAppUser.id }}</a>
          </div>
        </dd>
        <dt><span>To App User</span></dt>
        <dd>
          <div *ngIf="friendRequest.toAppUser">
            <a [routerLink]="['/app-user', friendRequest.toAppUser.id, 'view']">{{ friendRequest.toAppUser.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/friend-request', friendRequest.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
