<div class="row justify-content-center p-2 rounded-2 bg-secondary-subtle" *ngIf="data">
  <h5 class="col text-center" *ngIf="data?.title">{{ data?.title }}</h5>
  <div class="w-100" *ngIf="data?.title"></div>
  <hr *ngIf="data?.title" />

  <table id="leaderboard" class="table-sm table-borderless">
    <tbody>
      <tr *ngFor="let entry of data.entries; index as i" class="rounded-1">
        <th class="text-nowrap pe-3">#{{ i + 1 }}</th>
        <td class="me-auto row align-items-center">
          <img *ngIf="entry.imageUrl" class="p-0 mg-fluid rounded-circle" [src]="entry.imageUrl" />
          <span class="col text-break">{{ entry.name }}</span>
        </td>
        <td class="text-nowrap">{{ entry.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
