<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-song-heading" data-cy="SongCreateUpdateHeading">Create or edit a Song</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_spotifyID">Spotify ID</label>
          <input type="text" class="form-control" name="spotifyID" id="field_spotifyID" data-cy="spotifyID" formControlName="spotifyID" />
          <div *ngIf="editForm.get('spotifyID')!.invalid && (editForm.get('spotifyID')!.dirty || editForm.get('spotifyID')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('spotifyID')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_imageURL">Image URL</label>
          <input type="text" class="form-control" name="imageURL" id="field_imageURL" data-cy="imageURL" formControlName="imageURL" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_releaseDate">Release Date</label>
          <div class="d-flex">
            <input
              id="field_releaseDate"
              data-cy="releaseDate"
              type="datetime-local"
              class="form-control"
              name="releaseDate"
              formControlName="releaseDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_duration">Duration</label>
          <input type="text" class="form-control" name="duration" id="field_duration" data-cy="duration" formControlName="duration" />
          <div *ngIf="editForm.get('duration')!.invalid && (editForm.get('duration')!.dirty || editForm.get('duration')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('duration')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('duration')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_acousticness">Acousticness</label>
          <input
            type="number"
            class="form-control"
            name="acousticness"
            id="field_acousticness"
            data-cy="acousticness"
            formControlName="acousticness"
          />
          <div
            *ngIf="editForm.get('acousticness')!.invalid && (editForm.get('acousticness')!.dirty || editForm.get('acousticness')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('acousticness')?.errors?.min">
              This field should be at least 0.0.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('acousticness')?.errors?.max">
              This field cannot be more than 1.0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('acousticness')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_danceability">Danceability</label>
          <input
            type="number"
            class="form-control"
            name="danceability"
            id="field_danceability"
            data-cy="danceability"
            formControlName="danceability"
          />
          <div
            *ngIf="editForm.get('danceability')!.invalid && (editForm.get('danceability')!.dirty || editForm.get('danceability')!.touched)"
          >
            <small class="form-text text-danger" *ngIf="editForm.get('danceability')?.errors?.min">
              This field should be at least 0.0.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('danceability')?.errors?.max">
              This field cannot be more than 1.0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('danceability')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_energy">Energy</label>
          <input type="number" class="form-control" name="energy" id="field_energy" data-cy="energy" formControlName="energy" />
          <div *ngIf="editForm.get('energy')!.invalid && (editForm.get('energy')!.dirty || editForm.get('energy')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('energy')?.errors?.min"> This field should be at least 0.0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('energy')?.errors?.max"> This field cannot be more than 1.0. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('energy')?.errors?.number"> This field should be a number. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_instrumentalness">Instrumentalness</label>
          <input
            type="number"
            class="form-control"
            name="instrumentalness"
            id="field_instrumentalness"
            data-cy="instrumentalness"
            formControlName="instrumentalness"
          />
          <div
            *ngIf="
              editForm.get('instrumentalness')!.invalid &&
              (editForm.get('instrumentalness')!.dirty || editForm.get('instrumentalness')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('instrumentalness')?.errors?.min">
              This field should be at least 0.0.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('instrumentalness')?.errors?.max">
              This field cannot be more than 1.0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('instrumentalness')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_musicalKey">Musical Key</label>
          <input
            type="number"
            class="form-control"
            name="musicalKey"
            id="field_musicalKey"
            data-cy="musicalKey"
            formControlName="musicalKey"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_liveness">Liveness</label>
          <input type="number" class="form-control" name="liveness" id="field_liveness" data-cy="liveness" formControlName="liveness" />
          <div *ngIf="editForm.get('liveness')!.invalid && (editForm.get('liveness')!.dirty || editForm.get('liveness')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('liveness')?.errors?.min"> This field should be at least 0.0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('liveness')?.errors?.max"> This field cannot be more than 1.0. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('liveness')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_loudness">Loudness</label>
          <input type="number" class="form-control" name="loudness" id="field_loudness" data-cy="loudness" formControlName="loudness" />
          <div *ngIf="editForm.get('loudness')!.invalid && (editForm.get('loudness')!.dirty || editForm.get('loudness')!.touched)">
            <small class="form-text text-danger" [hidden]="!editForm.get('loudness')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_mode">Mode</label>
          <input type="checkbox" class="form-check" name="mode" id="field_mode" data-cy="mode" formControlName="mode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_speechiness">Speechiness</label>
          <input
            type="number"
            class="form-control"
            name="speechiness"
            id="field_speechiness"
            data-cy="speechiness"
            formControlName="speechiness"
          />
          <div *ngIf="editForm.get('speechiness')!.invalid && (editForm.get('speechiness')!.dirty || editForm.get('speechiness')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('speechiness')?.errors?.min">
              This field should be at least 0.0.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('speechiness')?.errors?.max">
              This field cannot be more than 1.0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('speechiness')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tempo">Tempo</label>
          <input type="number" class="form-control" name="tempo" id="field_tempo" data-cy="tempo" formControlName="tempo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_timeSignature">Time Signature</label>
          <input
            type="number"
            class="form-control"
            name="timeSignature"
            id="field_timeSignature"
            data-cy="timeSignature"
            formControlName="timeSignature"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_valence">Valence</label>
          <input type="number" class="form-control" name="valence" id="field_valence" data-cy="valence" formControlName="valence" />
          <div *ngIf="editForm.get('valence')!.invalid && (editForm.get('valence')!.dirty || editForm.get('valence')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('valence')?.errors?.min"> This field should be at least 0.0. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('valence')?.errors?.max"> This field cannot be more than 1.0. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('valence')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_album">Album</label>
          <select class="form-control" id="field_album" data-cy="album" name="album" formControlName="album" [compareWith]="compareAlbum">
            <option [ngValue]="null"></option>
            <option [ngValue]="albumOption" *ngFor="let albumOption of albumsSharedCollection">{{ albumOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
