<div class="root insights">
  <h1>Insights</h1>

  <div class="row">
    <jhi-time-period-picker (timePeriodChangeEvent)="onTimePeriodChange($event)"></jhi-time-period-picker>

    <div class="w-100"></div>

    <div class="w-100"></div>

    <div class="row gx-5 buffer">
      <h1>{{ graphNameChange() }}</h1>
    </div>

    <div class="row gx-5 buffer">
      <h4 class="col-md-4">Genre Pie Chart</h4>
      <h4 class="col-md-4">Artists trends</h4>
      <h4 class="col-md-4">Albums listened to</h4>
    </div>

    <div class="row gx-5 small-buffer">
      <div class="col-md-4" #genrePieChart>
        <!--   Genre pie chart     -->
        <ngx-charts-pie-chart
          [view]="[genrePieChart.offsetWidth, genrePieChart.offsetWidth * 0.9]"
          [results]="genrePie"
          [arcWidth]="3"
          [explodeSlices]="true"
          [legendPosition]="below"
          [legend]="true"
          [legendTitle]="'Genre Listened To'"
          [scheme]="chartScheme"
        >
        </ngx-charts-pie-chart>
      </div>

      <!--      <div #containerRef class="col-md-3">-->
      <!--        &lt;!&ndash;   Listened time bar chart   [results]="listenedTimeBar" &ndash;&gt;-->
      <!--        <ngx-charts-bar-vertical-->
      <!--          [results]="genrePieChartMonth"-->
      <!--          [view]="[containerRef.offsetWidth, 400]"-->
      <!--          [showXAxisLabel]="true"-->
      <!--          [showYAxisLabel]="true"-->
      <!--          [rotateXAxisTicks]="true"-->
      <!--          [xAxis]="true"-->
      <!--          [yAxis]="true"-->
      <!--          [showGridLines]="false"-->
      <!--          [xAxisLabel]="xaxisLabelBar"-->
      <!--          [yAxisLabel]="yaxisLabelBar"-->
      <!--        >-->
      <!--        </ngx-charts-bar-vertical>-->
      <!--      </div>-->
      <!--    <div class="w-50-m"></div>-->
      <!--  <div class="row justify-content-start">-->
      <div class="col-md-4" #artistTrendChart>
        <!--   artist trend    -->
        <!--        <ngx-charts-line-chart-->
        <!--          [view]="[artistTrendChart.offsetWidth, artistTrendChart.offsetWidth * 0.9]"-->
        <!--          [results]="artistsLine"-->
        <!--          [yAxis]="true"-->
        <!--          [showGridLines]="false"-->
        <!--          [legend]="true"-->
        <!--          [showYAxisLabel]="true"-->
        <!--          [yAxisLabel]="'Hours'"-->
        <!--          [trimYAxisTicks]="true"-->
        <!--          [autoScale]="true"-->
        <!--          [legendPosition]="below"-->
        <!--          [legendTitle]="'Artists'"-->
        <!--        >-->
        <!--        </ngx-charts-line-chart>-->
        <ngx-charts-bar-vertical
          [view]="[artistTrendChart.offsetWidth, artistTrendChart.offsetWidth * 0.9]"
          [results]="artistsLine"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [rotateXAxisTicks]="true"
          [roundDomains]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showGridLines]="false"
          [xAxisLabel]="'Artists'"
          [yAxisLabel]="'Frequency'"
        >
        </ngx-charts-bar-vertical>
      </div>

      <div class="col-md-4" #albumTrendChart>
        <!--  Album listened to    -->
        <ngx-charts-bar-vertical
          [view]="[albumTrendChart.offsetWidth, albumTrendChart.offsetWidth * 0.9]"
          [results]="albumsBar"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [rotateXAxisTicks]="true"
          [roundDomains]="true"
          [xAxis]="true"
          [yAxis]="true"
          [showGridLines]="false"
          [xAxisLabel]="'Albums'"
          [yAxisLabel]="'Frequency'"
        >
        </ngx-charts-bar-vertical>
      </div>
    </div>

    <div class="w-100"></div>

    <div class="row gx-5 buffer top-buffer">
      <h1>{{ leaderNameChange() }}</h1>
    </div>

    <div class="row gx-5 buffer">
      <h4 class="col-md-3">Favourite Artists</h4>
      <h4 class="col-md-3">Favourite Genre</h4>
      <h4 class="col-md-3">Favourite Song</h4>
      <h4 class="col-md-3">Favourite Time Period</h4>
    </div>

    <div class="row gx-5 small-buffer">
      <div class="col-md-3">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Artist</th>
              <th scope="col">Songs Listened to</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let artist of artistsLine | slice: 0:3; let i = index">
              <td>{{ artist.name }}</td>
              <td></td>
              <td>{{ artist.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Genre</th>
              <th scope="col">Songs Listened to</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let genre of genrePie | slice: 0:3; let i = index">
              <td>{{ genre.name }}</td>
              <td></td>
              <td>{{ genre.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Song</th>
              <th scope="col">Frequency</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let song of songChart | slice: 0:3; let i = index">
              <td>{{ song.name }}</td>
              <td></td>
              <td>{{ song.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Decade</th>
              <th scope="col">Times listened</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let decade of decadeChart | slice: 0:3; let i = index">
              <td>{{ decade.name }}</td>
              <td></td>
              <td>{{ decade.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
