.pie-label {
  font-size: 11px;
  fill: red;
}
::ng-deep .ngx-charts {
  text {
    fill: #fff !important;
  }
}
* {
  font-size: 62, 5%;
  margin: 0;
}

.small-buffer {
  margin-top: 30px;
}

.buffer {
  margin-top: 120px;
}

.top-buffer {
  margin-top: 150px;
}
