<div class="root insights mx-4 mx-md-5">
  <div *ngIf="!account" class="col">
    <h4>You must be logged in to view your insights!</h4>
    <a class="row justify-content-center" routerLink="/login">Login</a>
  </div>

  <div *ngIf="account" class="row col-12">
    <h1>Insights</h1>

    <jhi-time-period-picker (timePeriodChangeEvent)="onTimePeriodChange($event)"></jhi-time-period-picker>

    <div *ngIf="error">
      <h4>An unknown error has occurred!</h4>
    </div>
    <div *ngIf="!error && !response">
      <h4>Calculating...</h4>
    </div>

    <div *ngIf="response" class="row">
      <div class="graphs-container mt-5">
        <h4>{{ graphNameChange() }}</h4>
        <hr />

        <div class="row mt-5 gx-5 justify-content-between">
          <div class="col-md-3 p-0">
            <h5 class="text-center my-4">Top Genres</h5>
            <p *ngIf="genrePie.length == 0" class="text-center">No Data :(</p>
            <div *ngIf="genrePie.length > 0" #genrePieChart class="chart">
              <!--   Genre pie chart     -->
              <ngx-charts-pie-chart
                [view]="[genrePieChart.offsetWidth, genrePieChart.offsetWidth * 0.9]"
                [results]="genrePie"
                [legendPosition]="LegendPosition.Below"
                [arcWidth]="3"
                [explodeSlices]="true"
                [legend]="true"
                [legendTitle]="'Genre Listened To'"
                [scheme]="chartScheme"
              >
              </ngx-charts-pie-chart>
            </div>
          </div>

          <div class="col-md-3 p-0">
            <h5 class="text-center my-4">Top Albums</h5>
            <p *ngIf="albumsBar.length == 0" class="text-center">No Data :(</p>
            <div *ngIf="albumsBar.length > 0" #albumTrendChart class="chart">
              <!--  Album listened to    -->
              <ngx-charts-bar-vertical
                [view]="[albumTrendChart.offsetWidth, albumTrendChart.offsetWidth * 1.5]"
                [results]="albumsBar"
                [legendPosition]="LegendPosition.Below"
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [rotateXAxisTicks]="true"
                [roundDomains]="true"
                [xAxis]="true"
                [yAxis]="true"
                [showGridLines]="false"
                [xAxisLabel]="'Album'"
                [yAxisLabel]="'Streams'"
              >
              </ngx-charts-bar-vertical>
            </div>
          </div>

          <div class="col-md-3 p-0">
            <h5 class="text-center my-4">Top Artists</h5>
            <p *ngIf="artistsLine.length == 0" class="text-center">No Data :(</p>
            <div *ngIf="artistsLine.length > 0" #artistTrendChart class="chart">
              <ngx-charts-pie-chart
                [view]="[artistTrendChart.offsetWidth, artistTrendChart.offsetWidth * 0.9]"
                [results]="artistsLine"
                [legendPosition]="LegendPosition.Below"
                [legend]="true"
                [legendTitle]="'Artists'"
                [scheme]="chartScheme"
                [doughnut]="true"
              >
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>
      </div>

      <div class="leaderboard-container mt-5">
        <h4>{{ leaderNameChange() }}</h4>
        <hr />

        <div class="row gy-5">
          <div class="col-md-3">
            <h5 class="text-center my-4">Favourite Artists</h5>
            <p *ngIf="artistsLine.length == 0" class="text-center">No Data :(</p>
            <div *ngIf="artistsLine.length > 0">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Artist</th>
                    <th scope="col">Streams</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let artist of artistsLine | slice: 0:3; let i = index">
                    <td>{{ artist.name }}</td>
                    <td>{{ artist.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-3">
            <h5 class="text-center my-4">Favourite Genre</h5>
            <p *ngIf="genrePie.length == 0" class="text-center">No Data :(</p>
            <div *ngIf="genrePie.length > 0">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Genre</th>
                    <th scope="col">Streams</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let genre of genrePie | slice: 0:3; let i = index">
                    <td>{{ genre.name }}</td>
                    <td>{{ genre.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-3">
            <h5 class="text-center my-4">Favourite Song</h5>
            <p *ngIf="songChart.length == 0" class="text-center">No Data :(</p>
            <div *ngIf="songChart.length > 0">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Song</th>
                    <th scope="col">Streams</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let song of songChart | slice: 0:3; let i = index">
                    <td>{{ song.name }}</td>
                    <td>{{ song.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-md-3">
            <h5 class="text-center my-4">Favourite Time Period</h5>
            <p *ngIf="decadeChart.length == 0" class="text-center">No Data :(</p>
            <div *ngIf="decadeChart.length > 0">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Decade</th>
                    <th scope="col">Streams</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let decade of decadeChart | slice: 0:3; let i = index">
                    <td>{{ decade.name }}</td>
                    <td>{{ decade.value }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
