.container {
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  &::before {
    all: unset;
    z-index: 0;
    content: '';
    display: block;
    position: fixed;
    width: 700px;
    aspect-ratio: 1;
    height: auto;
    top: -20vw;
    margin-left: calc((100vw - 700px) / 2);
    margin-right: calc((100vw - 700px) / 2);
    border-radius: 1000px;
    pointer-events: none;

    background: linear-gradient(rgb(black, 0%) 0%, rgb(164, 66, 210, 20%) 50%, rgb(164, 66, 210, 100%) 100%);
    filter: blur(60px);
    animation: hue-shift 60s ease infinite, pulse 14s ease infinite; /* Adjust duration and timing function */
  }
}

//.row {
//  z-index: 1;
//  font-size: 62, 5%;
//  //font-family: 'Courier New';
//  //color: #ccc; // Light gray text
//  //color: #d8b4e2; // Light purple/lavender text
//}

h2,
h3 {
  text-align: left;
}

.bio h3 {
  font-size: 1.4rem;
}

//button {
//  width: 60%;
//  margin-bottom: 5%;
//  display: inline-block;
//  outline: none;
//  cursor: pointer;
//  font-size: 14px;
//  line-height: 1;
//  border-radius: 500px;
//  transition-property: background-color, border-color, color, box-shadow, filter;
//  transition-duration: 0.3s;
//  border: 1px solid transparent;
//  letter-spacing: 2px;
//  min-width: 160px;
//  text-transform: uppercase;
//  white-space: normal;
//  font-weight: 700;
//  text-align: center;
//  padding: 16px 14px 18px;
//  color: #d8b4e2;
//  box-shadow: inset 0 0 0 2px #ddaee9;
//  background-color: transparent;
//  height: 48px;
//}
//button:focus {
//  outline: none;
//  box-shadow: 0 0 5px 2px white;
//}

//.card {
//  width: 100%;
//  background-color: transparent;
//  border-color: #d8b4e2;
//  min-width: 150px;
//  min-height: 250px;
//}
//.card-body {
//  border-color: #d8b4e2;
//}
//.card-footer {
//  border-color: #d8b4e2;
//}
//.card-header {
//  border-color: #d8b4e2;
//}
//.card:hover {
//  .card-header {
//    text-decoration: underline;
//  }
//  box-shadow: inset 0 0 0 2px #d8b4e2;
//  border-color: #d8b4e2;
//}

.songCard {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100px;
  width: 275px;
  overflow: clip;
  margin-bottom: 8px;
  //background: $translucent-bg;
  //border-radius: 8px;
  //border: solid 1px $translucent-border;

  img {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 1.2rem;
    margin-right: 16px;
    text-align: left;
    margin-bottom: 0;
  }

  a {
    target: '_blank';
  }
}

.left-bar {
  max-width: 300px;

  img {
    height: 160px;
    width: 160px;
  }
}

.root {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.stats {
  p,
  a {
    font-size: 1.2rem;
  }
}

p {
  margin: 0;
}
.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px;
  //border-radius: 8px;
  gap: 8px;
  background: transparent;

  &:hover {
    background: rgb(255, 255, 255, 0.1);
  }

  &:active {
    background: rgb(255, 255, 255, 0.05);
  }

  .name {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}
