.bio h3 {
  font-size: 1.4rem;
}

.songCard {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100px;
  width: 275px;
  overflow: clip;
  margin-bottom: 8px;
  //background: $translucent-bg;
  //border-radius: 8px;
  //border: solid 1px $translucent-border;

  img {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 1.2rem;
    margin-right: 16px;
    text-align: left;
    margin-bottom: 0;
  }

  a {
    target: '_blank';
  }
}

.left-bar {
  img {
    height: 160px;
    width: 160px;
  }
}

.root {
  flex-direction: unset;
  //gap: 64px;
}

.stats {
  p,
  a {
    font-size: 1.2rem;
  }
}

p {
  margin: 0;
}
.friend-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px;
  //border-radius: 8px;
  gap: 8px;
  background: transparent;

  &:hover {
    background: rgb(255, 255, 255, 0.1);
  }

  &:active {
    background: rgb(255, 255, 255, 0.05);
  }

  .name {
    font-size: 1.2rem;
    white-space: nowrap;
  }
}
