<div class="container">
  <div class="row">
    <div class="col pb-4 text-center">
      <h2>Profile pic</h2>
    </div>
    <div class="col text-center">
      <h2>SpotifyName</h2>
    </div>
    <div class="col text-center">
      <h2>Options</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img
        class="rounded-circle mx-auto d-block"
        style="width: 50%; height: 50%; padding-bottom: 10%; background-color: #d8b4e2"
        src="..."
      />
    </div>
    <div class="col">
      <h3>Friends: NoOfFriends</h3>
      <h3>Bio:</h3>
      <textarea style="width: 100%; height: 50%">This is where the bio goes...</textarea>
    </div>
    <div class="col">
      <button>Edit</button>
      <br />
      <button>Settings</button>
      <br />
      <button>Help</button>
      <br />
      <button>Logout</button>
    </div>
  </div>
  <div class="row pt-5">
    <h3>Playlists:</h3>
    <div class="card w-25">
      <div class="card-header">PlaylistName</div>
      <img class="card-img-top" style="background-color: #d8b4e2" src="..." />
      <div class="card-body">Song1<br />Song2<br />Song3</div>
      <div class="card-footer text-muted">TimePeriod</div>
    </div>
    <div class="card w-25">
      <div class="card-header">PlaylistName</div>
      <img class="card-img-top" style="background-color: #d8b4e2" src="..." />
      <div class="card-body">Song1<br />Song2<br />Song3</div>
      <div class="card-footer text-muted">TimePeriod</div>
    </div>
  </div>
</div>
