<div>
  <h2 id="page-heading" data-cy="FriendRequestHeading">
    <span>Friend Requests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-friend-request"
        [routerLink]="['/friend-request/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Friend Request </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="friendRequests?.length === 0">
    <span>No Friend Requests found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="friendRequests && friendRequests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span>Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="initiatingAppUser.id">
            <div class="d-flex">
              <span>Initiating App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="toAppUser.id">
            <div class="d-flex">
              <span>To App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friendRequest of friendRequests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/friend-request', friendRequest.id, 'view']">{{ friendRequest.id }}</a>
          </td>
          <td>{{ friendRequest.createdAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="friendRequest.initiatingAppUser">
              <a [routerLink]="['/app-user', friendRequest.initiatingAppUser.id, 'view']">{{ friendRequest.initiatingAppUser.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="friendRequest.toAppUser">
              <a [routerLink]="['/app-user', friendRequest.toAppUser.id, 'view']">{{ friendRequest.toAppUser.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/friend-request', friendRequest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/friend-request', friendRequest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(friendRequest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
