#card-stack {
  display: grid;

  .card {
    min-width: 50%;
    width: 50%;
    grid-area: 1 / 1 / 2 / 2;
    transition-property: left, transform, box-shadow;
    transition-duration: 0.5s;
  }
}

.btn {
  border: none;
}

#detail {
  display: grid;
  z-index: 100;

  #info {
    grid-area: 1 / 1 / 1 / 1;
  }
}
