#card-stack {
  display: grid;

  .card {
    width: 50%;
    grid-area: 1 / 1 / 2 / 2;
    transition-property: left, transform, box-shadow;
    transition-duration: 0.5s;
  }
}

#detail {
  z-index: 100;

  .btn {
    border: none;
  }
}
