<div class="mx-4 mx-md-5 py-5">
  <div class="row">
    <h1>Your Friend Insights</h1>

    <jhi-time-period-picker (timePeriodChangeEvent)="onTimePeriodChange($event)"></jhi-time-period-picker>

    <div class="row gy-5" id="insights-container">
      <div class="col" id="popular">
        <h5>Popular with your friends | {{ selectedTimePeriod?.label }}</h5>

        <hr />

        <div class="row g-5">
          <div class="col-md-4 justify-content-center">
            <h5 class="text-center my-4">Artists</h5>
            <span *ngIf="popularCategories?.artists">{{ popularCategories?.artists }}</span>
            <jhi-card-stack [data]="sampleData"></jhi-card-stack>
          </div>
          <div class="col-md-4 justify-content-center">
            <h5 class="text-center my-4">Albums</h5>
            <span *ngIf="popularCategories?.albums">{{ popularCategories?.albums }}</span>
            <jhi-card-stack [data]="sampleData.slice().reverse()"></jhi-card-stack>
          </div>
          <div class="col-md-4 justify-content-center">
            <h5 class="text-center my-4">Tracks</h5>
            <span *ngIf="popularCategories?.tracks">{{ popularCategories?.tracks }}</span>
            <jhi-card-stack [data]="sampleData"></jhi-card-stack>
          </div>
        </div>
      </div>

      <div class="w-100"></div>

      <div class="col" id="leaderboards">
        <h5>Your Friends Leaderboards | {{ selectedTimePeriod?.label }}</h5>

        <hr />

        <div class="row">
          <div class="col-md-6">Leaderboard</div>
          <div class="col-md-6">Leaderboard</div>
        </div>
      </div>
    </div>
  </div>
</div>
