<div class="mx-4 mx-md-5 root">
  <div *ngIf="!account" class="col">
    <h4>You must be logged in to view your friends insights!</h4>
    <a class="row justify-content-center" routerLink="/login">Login</a>
  </div>

  <div *ngIf="account" class="row">
    <h1>Your Friend Insights</h1>

    <jhi-time-period-picker (timePeriodChangeEvent)="onTimePeriodChange($event)"></jhi-time-period-picker>

    <div *ngIf="error">
      <h4>An unknown error has occurred!</h4>
    </div>
    <div *ngIf="!error && (!popularCategories || !leaderboards)">
      <h4>Calculating...</h4>
    </div>

    <div *ngIf="popularCategories && leaderboards" class="row gy-5" id="insights-container">
      <div class="col" id="popular">
        <h5>Popular with your friends | {{ selectedTimePeriod?.label }}</h5>

        <hr />

        <div class="row g-5">
          <div class="col-md-4 justify-content-center">
            <h5 class="text-center my-4">Tracks</h5>
            <jhi-card-stack [data]="getTracksCardStackData()"></jhi-card-stack>
          </div>
          <div class="col-md-4 justify-content-center">
            <h5 class="text-center my-4">Artists</h5>
            <jhi-card-stack [data]="getArtistCardStackData()"></jhi-card-stack>
          </div>
          <div class="col-md-4 justify-content-center">
            <h5 class="text-center my-4">Albums</h5>
            <jhi-card-stack [data]="getAlbumsCardStackData()"></jhi-card-stack>
          </div>
        </div>
      </div>

      <div class="w-100"></div>

      <div class="col" id="leaderboards">
        <h5>Your Friends Leaderboards | {{ selectedTimePeriod?.label }}</h5>

        <hr />

        <div class="row justify-content-around py-5 g-5">
          <div class="col-md-5">
            <jhi-leaderboard-card [data]="getHoursStreamedLeaderboardData()"></jhi-leaderboard-card>
          </div>
          <div class="col-md-5">
            <jhi-leaderboard-card [data]="getArtistsLeaderboardData()"></jhi-leaderboard-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
