<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-friend-recommendation-heading" data-cy="FriendRecommendationCreateUpdateHeading">
        Create or edit a Friend Recommendation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_similarity">Similarity</label>
          <input
            type="number"
            class="form-control"
            name="similarity"
            id="field_similarity"
            data-cy="similarity"
            formControlName="similarity"
          />
          <div *ngIf="editForm.get('similarity')!.invalid && (editForm.get('similarity')!.dirty || editForm.get('similarity')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('similarity')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" *ngIf="editForm.get('similarity')?.errors?.min">
              This field should be at least 0.0.
            </small>
            <small class="form-text text-danger" *ngIf="editForm.get('similarity')?.errors?.max">
              This field cannot be more than 1.0.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('similarity')?.errors?.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('createdAt')!.invalid && (editForm.get('createdAt')!.dirty || editForm.get('createdAt')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('createdAt')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('createdAt')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_aboutAppUser">About App User</label>
          <select
            class="form-control"
            id="field_aboutAppUser"
            data-cy="aboutAppUser"
            name="aboutAppUser"
            formControlName="aboutAppUser"
            [compareWith]="compareAppUser"
          >
            <option *ngIf="editForm.get(['aboutAppUser'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="appUserOption" *ngFor="let appUserOption of appUsersSharedCollection">{{ appUserOption.id }}</option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['aboutAppUser'])!.invalid && (editForm.get(['aboutAppUser'])!.dirty || editForm.get(['aboutAppUser'])!.touched)
          "
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['aboutAppUser'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_forAppUser">For App User</label>
          <select
            class="form-control"
            id="field_forAppUser"
            data-cy="forAppUser"
            name="forAppUser"
            formControlName="forAppUser"
            [compareWith]="compareAppUser"
          >
            <option *ngIf="editForm.get(['forAppUser'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="appUserOption" *ngFor="let appUserOption of appUsersSharedCollection">{{ appUserOption.id }}</option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['forAppUser'])!.invalid && (editForm.get(['forAppUser'])!.dirty || editForm.get(['forAppUser'])!.touched)"
        >
          <small class="form-text text-danger" *ngIf="editForm.get(['forAppUser'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
