<h1>Friends</h1>
<p class="lead">Friends works!</p>
<form (ngSubmit)="sendLink()" [formGroup]="friendRequestForm">
  <label class="form-label" for="name"> Friend (AppUser) id </label>

  <div class="searchBar">
    <input type="text" class="form-control" id="name" name="link-input" formControlName="name" [(ngModel)]="linkInput" required />

    <button type="submit" id="submit-link" data-cy="entityCreateSaveButton" class="btn btn-primary" [disabled]="linkInput === ''">
      Go!
    </button>

    <div class="row">
      <div class="col-md-12">
        <p class="lead" *ngIf="showWaitingMessage">Please wait while we process your playlist. This won't take too long.</p>
        <p class="lead" *ngIf="showErrorMessage">Sorry, we weren't able to process your playlist due to an error.</p>
      </div>
    </div>
  </div>
</form>
<div class="container-fluid px-5" *ngIf="pulledData">
  <p>{{ response?.createdAt?.toString() }}</p>
</div>
