<h1>Friends</h1>

<!-- List friend requests -->
<div *ngIf="friendRequests && friendRequests.length > 0">
  <h2>Friend Requests</h2>
  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <th scope="col">
        <span>From</span>
      </th>
      <th scope="col">
        <span>Created</span>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let friendRequest of friendRequests">
        <td>{{ friendRequest.initiatingAppUser?.internalUser?.login }}</td>
        <td>{{ friendRequest.createdAt?.toString() }}</td>

        <td>
          <div>
            <button type="submit" (click)="accept(friendRequest.id)">
              <fa-icon icon="check"></fa-icon>
            </button>
            <button type="submit" (click)="reject(friendRequest.id)">
              <fa-icon icon="xmark"></fa-icon>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Send friend request -->
<form (ngSubmit)="sendLink()" [formGroup]="friendRequestForm">
  <label class="form-label" for="name"> Friend (AppUser) id </label>
  <div>
    <input type="text" class="form-control" id="name" name="link-input" formControlName="name" [(ngModel)]="linkInput" required />
    <button type="submit" id="submit-request" data-cy="entityCreateSaveButton" class="btn btn-primary" [disabled]="linkInput === ''">
      Send!
    </button>
    <div class="row">
      <div class="col-md-12">
        <p class="lead" *ngIf="showErrorMessage">Friend request was unable to be sent.</p>
      </div>
    </div>
  </div>
</form>
<div class="container-fluid px-5" *ngIf="pulledData">
  <p>{{ createFriendRequestResponse?.createdAt?.toString() }}</p>
</div>

<!-- List friends requests -->
<div *ngIf="friends && friends.length > 0">
  <h2>Friends</h2>
  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <th scope="col">
        <span>Name</span>
      </th>
      <th scope="col">
        <span>Created</span>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let friend of friends">
        <td>
          <img [src]="friend.friendAppUser?.avatarURL" width="64px" height="64px" />
          {{ friend.friendAppUser?.internalUser?.login }}
        </td>
        <td>{{ friend?.createdAt?.toString() }}</td>
      </tr>
    </tbody>
  </table>
</div>
