<div class="friends-root">
  <h1>Friends</h1>

  <!-- View all visible users -->
  <section class="dropdown" (focusin)="toggledialog()">
    <div class="searchBar">
      <input class="form-control mr-sm-2" type="search" placeholder="Search for users" aria-label="Search" [(ngModel)]="search" />
    </div>
    <div class="userList" *ngIf="search != ''">
      <!-- Show friends -->
      <div *ngFor="let friend of friends">
        <div class="userCard" *ngIf="getDisplayName(friend.friendAppUser?.internalUser).startsWith(search)">
          <img [src]="friend.friendAppUser?.avatarURL" alt="Profile picture." />

          <div class="details">
            <p class="name">{{ getDisplayName(friend.friendAppUser?.internalUser) }}</p>
            <p>Friends from {{ since(friend.createdAt) }} ago</p>
          </div>

          <button type="submit" class="btn btn-secondary" (click)="delete(friend)">
            <fa-icon icon="xmark"></fa-icon>
          </button>
        </div>
      </div>
      <!-- Show new users -->
      <div *ngFor="let user of users">
        <div class="userCard" *ngIf="search != '' && getDisplayName(user?.internalUser).startsWith(search)">
          <img [src]="user?.avatarURL" />

          <div class="details">
            <p class="name">{{ getDisplayName(user?.internalUser) }}</p>
          </div>

          <button type="submit" class="btn btn-primary" (click)="sendFriendRequest(user.id)">
            <fa-icon icon="plus"></fa-icon>
          </button>

          <button type="submit" class="btn btn-secondary" (click)="block(user.id)">
            <fa-icon icon="ban"></fa-icon>
          </button>
        </div>
      </div>
      <!-- Show blocked users -->
      <div *ngFor="let user of blocked">
        <div class="userCard" *ngIf="search != '' && getDisplayName(user?.internalUser).startsWith(search)">
          <img [src]="user?.avatarURL" />

          <div class="details">
            <p class="name">{{ getDisplayName(user?.internalUser) }}</p>
          </div>

          <button type="submit" class="btn btn-secondary" (click)="unblock(user.id)">
            <fa-icon icon="ban"></fa-icon>
            <p>Unblock</p>
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- List recommendations -->
  <section *ngIf="recommendations && recommendations.length > 0">
    <h2>Friend Recommendations</h2>
    <div class="userList">
      <div class="userCard" *ngFor="let rec of recommendations">
        <img [src]="rec.aboutAppUser?.avatarURL" />
        <div class="details">
          <p class="name">{{ getDisplayName(rec.aboutAppUser?.internalUser) }}</p>
          <p class="other">{{ rec.similarity?.toFixed(2) }}</p>
        </div>
        <button type="submit" class="btn btn-primary" (click)="sendFriendRequest(rec.aboutAppUser?.id)">
          <fa-icon icon="plus"></fa-icon>
        </button>
      </div>
    </div>
  </section>

  <!-- List friend requests -->
  <section *ngIf="friendRequests && friendRequests.length > 0">
    <h2>Friend Requests</h2>
    <div class="userList">
      <div class="userCard" *ngFor="let friendRequest of friendRequests">
        <img [src]="friendRequest.initiatingAppUser?.avatarURL" />

        <div class="details">
          <p class="name">{{ getDisplayName(friendRequest.initiatingAppUser?.internalUser) }}</p>
          <p class="other">{{ since(friendRequest.createdAt) }} ago</p>
        </div>

        <button type="submit" class="btn btn-primary" (click)="accept(friendRequest.id)">
          <fa-icon icon="check"></fa-icon>
        </button>
        <button type="submit" class="btn btn-secondary" (click)="reject(friendRequest.id)">
          <fa-icon icon="xmark"></fa-icon>
        </button>
      </div>
    </div>
  </section>

  <!-- List friends -->
  <section *ngIf="friends && friends.length > 0">
    <h2>My Friends</h2>
    <div class="userList">
      <div class="userCard" *ngFor="let friend of friends">
        <img [src]="friend.friendAppUser?.avatarURL" alt="Profile picture." />

        <div class="details">
          <p class="name">{{ getDisplayName(friend.friendAppUser?.internalUser) }}</p>
          <p>
            <a class="song-name" [href]="'https://open.spotify.com/track/' + friend?.mostRecentSong?.spotifyID" target="_blank">
              {{ friend?.mostRecentSong?.name }}
              <div *ngFor="let artist of friend.mostRecentSong?.artists">
                {{ artist.name }}
              </div>
            </a>
            <br />
            <a class="album-name" [href]="'https://open.spotify.com/album/' + friend?.mostRecentSong?.album?.spotifyID" target="_blank">{{
              friend.mostRecentSong?.album?.name
            }}</a>
          </p>
        </div>
        <button type="submit" class="btn btn-secondary" (click)="delete(friend)">
          <fa-icon icon="xmark"></fa-icon>
        </button>
      </div>
    </div>
  </section>
</div>
