$translucent-border: rgb(255, 255, 255, 0.5);
$translucent-bg: rgb(255, 255, 255, 0.1);

h2 {
  text-align: left;
  max-width: 1050px;
  margin: auto;
  margin-bottom: 32px;
}

section {
  margin-bottom: 32px;
}

.friends-root {
  display: flex;
  width: 80%;
  max-width: 1100px;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
}

.searchBar {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 32px;
}

.userList {
  display: flex;
  //grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  flex-wrap: wrap;
  //justify-content: space-between;
  gap: 32px;
}

.userCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px;
  border-radius: 8px;
  gap: 32px;
  width: 100%;
  max-width: 500px;
  background: rgb(255, 255, 255, 0.2);
  transition: background-color 50ms ease-out;
  border: solid 1px rgb(255, 255, 255, 0.5);
  margin: auto;

  img {
    width: 64px;
    height: 64px;
    border-radius: 1000px;
    border: solid 2px rgb(255, 255, 255, 0.1);
  }

  button {
    margin-left: auto;
  }

  .details {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-size: 1rem;
    overflow-x: hidden;
    text-overflow: clip;

    p {
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .name {
      font-size: 1.2rem;
      margin-right: 16px;
      text-align: left;
    }

    :not(name) {
      font-size: 1rem;
      color: rgb(255, 255, 255, 0.75);
      white-space: nowrap;
    }
  }
}

.dropdown {
  //background: rgb(255, 255, 255, 0.2);
  //transition: background-color 50ms ease-out;
  //border: solid 1px rgb(255, 255, 255, 0.5);
  //padding: 16px 16px;
  //border-radius: 8px;
  width: 100%;
  //max-width: 400px;
  margin: auto;

  .userList {
    margin: auto;
    width: 100%;
    max-width: 500px;
    justify-content: center;
    gap: 0px;
  }

  .userCard {
    margin-bottom: 32px;
  }
}
