$translucent-border: rgb(255, 255, 255, 0.5);
$translucent-bg: rgb(255, 255, 255, 0.1);

* {
  box-sizing: border-box;
}

h2 {
  text-align: left;
  max-width: 500px;
  margin: auto;
}

section {
  margin-bottom: 32px;
}

.friends-root {
  display: flex;
  width: 80%;
  max-width: 1100px;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
}

.searchBar {
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: auto;

  button {
    margin-left: 16px;
  }
}

.userList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: space-between;
  row-gap: 32px;
}

.dropdown {
  //background: rgb(255, 255, 255, 0.2);
  //transition: background-color 50ms ease-out;
  //border: solid 1px rgb(255, 255, 255, 0.5);
  padding: 16px 16px;
  border-radius: 8px;
  width: 100%;
  //max-width: 400px;
  margin: auto;

  input {
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
}

.userCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 16px;
  border-radius: 8px;
  gap: 32px;
  width: 100%;
  max-width: 500px;
  background: rgb(255, 255, 255, 0.2);
  transition: background-color 50ms ease-out;
  border: solid 1px rgb(255, 255, 255, 0.5);
  margin: auto;
  margin-top: 32px;

  img {
    width: 64px;
    height: 64px;
    border-radius: 1000px;
    border: solid 2px rgb(255, 255, 255, 0.1);
  }

  button {
    margin-left: auto;
  }

  .details {
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-size: 1rem;
    overflow-wrap: anywhere;
    text-overflow: clip;

    p {
      margin-bottom: 10px;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .name {
      font-size: 1.2rem;
      margin-right: 16px;
      text-align: left;
    }

    :not(name) {
      font-size: 1rem;
      color: rgb(255, 255, 255, 0.75);
      white-space: nowrap;
    }
  }
}
