<div>
  <h2 id="page-heading" data-cy="StreamHeading">
    <span>Streams</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stream"
        [routerLink]="['/stream/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Stream </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="streams?.length === 0">
    <span>No Streams found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="streams && streams.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="playedAt">
            <div class="d-flex">
              <span>Played At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="song.id">
            <div class="d-flex">
              <span>Song</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="appUser.id">
            <div class="d-flex">
              <span>App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stream of streams; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/stream', stream.id, 'view']">{{ stream.id }}</a>
          </td>
          <td>{{ stream.playedAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="stream.song">
              <a [routerLink]="['/song', stream.song.id, 'view']">{{ stream.song.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="stream.appUser">
              <a [routerLink]="['/app-user', stream.appUser.id, 'view']">{{ stream.appUser.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/stream', stream.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/stream', stream.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(stream)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
