<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-feed-card-heading" data-cy="FeedCardCreateUpdateHeading">Create or edit a Feed Card</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_liked">Liked</label>
          <input type="checkbox" class="form-check" name="liked" id="field_liked" data-cy="liked" formControlName="liked" />
          <div *ngIf="editForm.get('liked')!.invalid && (editForm.get('liked')!.dirty || editForm.get('liked')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('liked')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_feed">Feed</label>
          <select class="form-control" id="field_feed" data-cy="feed" name="feed" formControlName="feed" [compareWith]="compareFeed">
            <option *ngIf="editForm.get(['feed'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="feedOption" *ngFor="let feedOption of feedsSharedCollection">{{ feedOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['feed'])!.invalid && (editForm.get(['feed'])!.dirty || editForm.get(['feed'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['feed'])?.errors?.required"> This field is required. </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_card">Card</label>
          <select class="form-control" id="field_card" data-cy="card" name="card" formControlName="card" [compareWith]="compareCard">
            <option *ngIf="editForm.get(['card'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="cardOption" *ngFor="let cardOption of cardsSharedCollection">{{ cardOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['card'])!.invalid && (editForm.get(['card'])!.dirty || editForm.get(['card'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['card'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
