$translucent-border: rgb(255, 255, 255, 0.5);
$translucent-bg: rgb(255, 255, 255, 0.1);

.root {
  gap: 36px;
}

// Adjustments for links on the selected song cards
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.row {
  align-items: center;
}

::ng-deep .ngx-charts {
  text {
    fill: #fff !important;
  }
}

.table {
  border-radius: 8px;
  border: solid 1px $translucent-border;
}

// Used to ensure the page scales properly at higher resolutions.
.playlist-analysis-wrapper {
  width: 100%;
  max-width: 1920px;
  justify-items: center;
}

// cards that appear at the bottom of the page for recent playlists
.recentPlaylistList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  .songCard {
    width: 275px;
  }
}

// "cards" that appear for selected songs
.songCard {
  display: flex;
  align-items: center;
  background: $translucent-bg;
  border-radius: 8px;
  border: solid 1px $translucent-border;
  gap: 16px;
  width: 100%;
  overflow: clip;
  margin-bottom: 8px;

  img {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 1.2rem;
    margin-right: 16px;
    text-align: left;
    margin-bottom: 0;
  }

  a {
    target: '_blank';
  }
}

// Container for bars plus associated text
.averageBar {
  p {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

// Bars used for stat averages
.progressBarOutside {
  background: $translucent-bg;
  border-radius: 8px;
  border: solid 1px $translucent-border;
  height: 20px;
  margin-bottom: 16px;

  width: 100%;
}

.progressBarInside {
  border-radius: 8px;
  border: solid 1px $translucent-border;

  height: 100%;
  width: 50%;
}

// Container for all stats and graphs.
.statBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  align-items: center;
  width: 100%;

  a {
    width: 100%;
  }
}

.lead {
  font-weight: 400;
}

// Container for title and playlist icon shown upon successful playlist pull
.playlist-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-bottom: 64px;
  align-items: center;

  img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: solid 1px $translucent-border;
  }

  h2 {
    text-align: right;
    margin-right: 16px;
  }
}

// Container for search bar content to be aligned side-by-side
.searchBar {
  display: flex;
  width: 100%;
  max-width: 800px;

  button {
    margin-left: 16px;
    //width: 64px;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
