.root {
  gap: 36px;
}

.row {
  align-items: center;
}

::ng-deep .ngx-charts {
  text {
    fill: #fff !important;
  }
}

.buffer {
  margin-top: 120px;
}

.small-buffer {
  margin-top: 30px;
}

.top-buffer {
  margin-top: 150px;
}

// "cards" that appear for selected songs
.songCard {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255, 0.1);
  border-radius: 8px;
  border: solid 1px rgb(255, 255, 255, 0.5);
  gap: 16px;
  width: 100%;
  overflow: clip;
  margin-bottom: 8px;

  img {
    width: 100px;
    height: 100px;
  }

  p {
    font-size: 1.2rem;
    margin-right: 16px;
    text-align: left;
  }
}

// used for stat averages
.progressBarOutside {
  background: rgb(255, 255, 255, 0.1);
  border-radius: 8px;
  border: solid 1px rgb(255, 255, 255, 0.5);
  height: 20px;
  margin-bottom: 16px;

  width: 100%;
}

.progressBarInside {
  border-radius: 8px;
  border: solid 1px rgb(255, 255, 255, 0);

  height: 100%;
  width: 50%;
}

.averageBar {
  p {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

ngx-charts-linear-gauge {
  padding: 8px 0;
}

.statBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  align-items: center;
  width: 100%;
}

.lead {
  font-weight: 400;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

// div for search bar content to be aligned side-by-side
.searchBar {
  display: flex;
  width: 100%;
  max-width: 800px;

  button {
    margin-left: 16px;
    width: 64px;
  }
}
