<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-playlist-stats-heading" data-cy="PlaylistStatsCreateUpdateHeading">Create or edit a Playlist Stats</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_playlistLength">Playlist Length</label>
          <input
            type="number"
            class="form-control"
            name="playlistLength"
            id="field_playlistLength"
            data-cy="playlistLength"
            formControlName="playlistLength"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_lastUpdated">Last Updated</label>
          <div class="d-flex">
            <input
              id="field_lastUpdated"
              data-cy="lastUpdated"
              type="datetime-local"
              class="form-control"
              name="lastUpdated"
              formControlName="lastUpdated"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_happiestSong">Happiest Song</label>
          <select
            class="form-control"
            id="field_happiestSong"
            data-cy="happiestSong"
            name="happiestSong"
            formControlName="happiestSong"
            [compareWith]="compareSong"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="songOption" *ngFor="let songOption of songsSharedCollection">{{ songOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_energeticSong">Energetic Song</label>
          <select
            class="form-control"
            id="field_energeticSong"
            data-cy="energeticSong"
            name="energeticSong"
            formControlName="energeticSong"
            [compareWith]="compareSong"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="songOption" *ngFor="let songOption of songsSharedCollection">{{ songOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_sumsUpSong">Sums Up Song</label>
          <select
            class="form-control"
            id="field_sumsUpSong"
            data-cy="sumsUpSong"
            name="sumsUpSong"
            formControlName="sumsUpSong"
            [compareWith]="compareSong"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="songOption" *ngFor="let songOption of songsSharedCollection">{{ songOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_anonmalousSong">Anonmalous Song</label>
          <select
            class="form-control"
            id="field_anonmalousSong"
            data-cy="anonmalousSong"
            name="anonmalousSong"
            formControlName="anonmalousSong"
            [compareWith]="compareSong"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="songOption" *ngFor="let songOption of songsSharedCollection">{{ songOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
