<div>
  <h2 id="page-heading" data-cy="FriendshipHeading">
    <span>Friendships</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-friendship"
        [routerLink]="['/friendship/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Friendship </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="friendships?.length === 0">
    <span>No Friendships found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="friendships && friendships.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span>Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="friendInitiating.id">
            <div class="d-flex">
              <span>Friend Initiating</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="friendAccepting.id">
            <div class="d-flex">
              <span>Friend Accepting</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let friendship of friendships; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/friendship', friendship.id, 'view']">{{ friendship.id }}</a>
          </td>
          <td>{{ friendship.createdAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="friendship.friendInitiating">
              <a [routerLink]="['/app-user', friendship.friendInitiating.id, 'view']">{{ friendship.friendInitiating.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="friendship.friendAccepting">
              <a [routerLink]="['/app-user', friendship.friendAccepting.id, 'view']">{{ friendship.friendAccepting.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/friendship', friendship.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/friendship', friendship.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(friendship)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
