<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="feedCard">
      <h2 data-cy="feedCardDetailsHeading"><span>Feed Card</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ feedCard.id }}</span>
        </dd>
        <dt><span>Liked</span></dt>
        <dd>
          <span>{{ feedCard.liked }}</span>
        </dd>
        <dt><span>Feed</span></dt>
        <dd>
          <div *ngIf="feedCard.feed">
            <a [routerLink]="['/feed', feedCard.feed.id, 'view']">{{ feedCard.feed.id }}</a>
          </div>
        </dd>
        <dt><span>Card</span></dt>
        <dd>
          <div *ngIf="feedCard.card">
            <a [routerLink]="['/card', feedCard.card.id, 'view']">{{ feedCard.card.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/feed-card', feedCard.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
