@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Navbar
========================================================================== */

$ghost-white: rgb(255, 255, 255, 0.5);
$white: rgb(255, 255, 255);
$foreground: rgb(200, 200, 200);

.navbar-version {
  font-size: 0.65em;
  color: $ghost-white;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  position: relative;
  z-index: 100;
  padding: 0.2rem 1rem;
  width: 100%;
  //overflow-x: hidden;
  //overflow-y: visible;

  img {
    border-radius: 1000px;
    border: solid 2px rgb(255, 255, 255, 0.1);
  }

  .dropdown-item.active,
  .dropdown-item.active:focus,
  .dropdown-item.active:hover {
    background-color: $dark;
  }

  .container-fluid {
    width: 100%;
    //overflow-x: hidden;
    //overflow-y: visible;

    .navbar-collapse {
      width: 100%;
      //overflow-x: hidden;
      //overflow-y: visible;
    }
  }

  .navbar-nav {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    //overflow-x: scroll;
    //overflow-y: visible;

    padding: 12px 0;
    justify-content: flex-end;

    li {
      margin: 0;
    }
  }

  .navbar-toggler {
    color: $foreground;
    transition: color 100ms ease;
    &:hover {
      color: $white;
    }

    &:active {
      color: $ghost-white;
    }
  }
}

.nav-item {
  // The current page
  &.active {
    .nav-link {
      color: $white;
      text-shadow: 0 0 12px rgb($ghost-white, 0.8);

      &::before {
        transform: scaleX(0.8);
        @media (max-width: 992px) {
          transform: none;
          width: 50%;
        }
      }
    }
  }

  .nav-link {
    transition: color 100ms ease, font-weight 100ms ease;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    position: relative;

    font-weight: 600;
    color: $foreground;

    & .link-icon {
      font-size: 16px;
      color: $foreground;
    }

    span {
      display: inline-flex;
      gap: 8px;
      white-space: nowrap;
    }

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 70%;
      margin-left: 15%;
      margin-right: 15%;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #ffffff;
      transform: scaleX(0);
      transition: transform 0.2s ease;

      @media (max-width: 992px) {
        margin: 0;
        transform: none;
        transition: width 0.2s ease;
        width: 0;
      }
    }

    &:hover {
      color: $white;
      text-shadow: 0 0 16px rgb($ghost-white, 0.6);

      &::before {
        transform: scaleX(1);
        @media (max-width: 992px) {
          transform: none;
          width: 100%;
        }
      }

      .link-icon {
        color: $white;
      }
    }

    &:active {
      color: $ghost-white;

      &::before {
        background-color: $ghost-white;
      }

      .link-icon {
        color: $white;
      }
    }
  }
}

/* ==========================================================================
Logo styles
========================================================================== */

.navbar-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  .logo-img {
    height: 45px;
    width: 45px;
    display: inline-block;
    vertical-align: middle;
    background: url('../../../content/images/app-logo.png') no-repeat center center;
    background-size: contain;
    filter: drop-shadow(0 0 16px rgb(164, 66, 210));
  }

  .navbar-title {
    text-shadow: 0 0 16px rgb(164, 66, 210);
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: darkgray;
  text-decoration: none;
  cursor: pointer;
}

hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
