<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title">{{ APP_NAME }}</span>
      <!--<span class="navbar-version">{{ version }}</span>-->
    </a>
    <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars" [fixedWidth]="true"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto">
        <!--        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
        <!--          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">-->
        <!--            <span>-->
        <!--              <fa-icon icon="home"></fa-icon>-->
        <!--              <span>Home</span>-->
        <!--            </span>-->
        <!--          </a>-->
        <!--        </li>-->
        <!--        <li class="nav-item" routerLinkActive="active" *ngSwitchCase="true" [routerLinkActiveOptions]="{ exact: true }">-->
        <!--          <a class="nav-link" routerLink="/friends" (click)="collapseNavbar()">-->
        <!--            <span>-->
        <!--              <fa-icon icon="user-group" [fixedWidth]="true"></fa-icon>-->
        <!--              <span>Friends</span>-->
        <!--            </span>-->
        <!--          </a>-->
        <!--        </li>-->
        <li class="nav-item" routerLinkActive="active" *ngSwitchCase="true" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/insights" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="chart-simple" [fixedWidth]="true"></fa-icon>
              <span>My Insights</span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngSwitchCase="true" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/insights/friends" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="chart-pie" [fixedWidth]="true"></fa-icon>
              <span>Friend Activity</span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/insights/playlist" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="record-vinyl" [fixedWidth]="true"></fa-icon>
              <span>Playlist Analyser</span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngSwitchCase="true" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/share" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="share" [fixedWidth]="true"></fa-icon>
              <span>Share</span>
            </span>
          </a>
        </li>

        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list" [fixedWidth]="true"></fa-icon>
              <span>Entities</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="friendship"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Friendship</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="friend-request"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Friend Request</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="friend-recommendation"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Friend Recommendation</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="stream"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Stream</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="song"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Song</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="artist"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Artist</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="album"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Album</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="genre"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Genre</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="playlist"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Playlist</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="playlist-stats"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Playlist Stats</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="app-user"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>App User</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="user-preferences"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>User Preferences</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="card"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Card</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="sharing-preference"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Sharing Preference</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="feed"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Feed</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="card-template"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Card Template</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="card-metric"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Card Metric</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="feed-card"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Feed Card</span>
              </a>
            </li>
            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog" [fixedWidth]="true"></fa-icon>
              <span>Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>User management</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="admin/spotify-token"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Spotify Token</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span>Metrics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span>Health</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span>API</span>
              </a>
            </li>
            <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
            <li *ngIf="!inProduction">
              <a class="dropdown-item" href="./h2-console/" target="_tab" (click)="collapseNavbar()">
                <fa-icon icon="database" [fixedWidth]="true"></fa-icon>
                <span>Database</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item profile" routerLinkActive="active" *ngSwitchCase="true" [routerLinkActiveOptions]="{ exact: true }">
          <!-- profile routerLink will need to be changed when the model for spotifyUsername is available -->
          <a class="nav-link" (click)="showDropdown()" data-cy="profile">
            <fa-icon icon="user" [fixedWidth]="true"></fa-icon>
          </a>
          <ul class="dropdown-menu profile-menu" id="dropdown">
            <li>
              <a class="dropdown-item" (click)="collapseNavbar()" [routerLink]="['/profile', this.account?.login]"> Profile page </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="collapseNavbar()" [routerLink]="['./friends']"> Friends </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="collapseNavbar()" [routerLink]="['./profile/edit-profile']"> Edit </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="collapseNavbar()" [routerLink]="['/account/settings']"> Settings </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="collapseNavbar()" [routerLink]="['/account/password']"> Change Password </a>
            </li>
            <li>
              <button class="dropdown-item" id="helpBtn" (click)="showModal()">Help</button>
              <div id="myModal" class="modal">
                <div class="modal-content">
                  <span class="close" (click)="closeModal()">&times;</span>
                  <p>For help, contact the team:</p>
                  <p>Frederick: fxr233@student.bham.ac.uk, Reuben: rxb208@student.bham.ac.uk</p>
                  <p>Robert: rxb256@student.bham.ac.uk, Joseph: jfh245@student.bham.ac.uk</p>
                  <p>Shoaib: sxh1499@student.bham.ac.uk, Matthew: mxh1131@student.bham.ac.uk</p>
                  <p>Chris: cxw298@student.bham.ac.uk</p>
                </div>
              </div>
            </li>
            <li>
              <a class="dropdown-item" id="gdprBtn" (click)="collapseNavbar()" [routerLink]="['/gdpr-policy']"> GDPR </a>
            </li>
            <li>
              <button class="dropdown-item" (click)="logout()">Logout</button>
            </li>
          </ul>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngSwitchCase="false" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" (click)="login()" id="login" data-cy="login">
            <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
            <span>Log in</span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngSwitchCase="false" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" data-cy="register">
            <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
            <span>Register</span>
          </a>
        </li>

        <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
        <!--        <li-->
        <!--          *ngSwitchCase="false"-->
        <!--          ngbDropdown-->
        <!--          class="nav-item dropdown pointer"-->
        <!--          display="dynamic"-->
        <!--          routerLinkActive="active"-->
        <!--          [routerLinkActiveOptions]="{ exact: true }"-->
        <!--        >-->
        <!--          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">-->
        <!--            <span *ngIf="!account?.imageUrl">-->
        <!--              <fa-icon icon="user"></fa-icon>-->
        <!--              <span>Account</span>-->
        <!--            </span>-->
        <!--            <span *ngIf="account?.imageUrl">-->
        <!--              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />-->
        <!--            </span>-->
        <!--          </a>-->
        <!--          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">-->
        <!--&lt;!&ndash;            <li *ngSwitchCase="true">&ndash;&gt;-->
        <!--&lt;!&ndash;              &lt;!&ndash; profile routerLink will need to be changed when the model for spotifyUsername is available &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;              <a&ndash;&gt;-->
        <!--&lt;!&ndash;                class="dropdown-item"&ndash;&gt;-->
        <!--&lt;!&ndash;                [routerLink]="['/profile', account?.firstName]"&ndash;&gt;-->
        <!--&lt;!&ndash;                routerLinkActive="active"&ndash;&gt;-->
        <!--&lt;!&ndash;                (click)="collapseNavbar()"&ndash;&gt;-->
        <!--&lt;!&ndash;                data-cy="profile"&ndash;&gt;-->
        <!--&lt;!&ndash;              >&ndash;&gt;-->
        <!--&lt;!&ndash;                <fa-icon icon="user" [fixedWidth]="true"></fa-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;                <span>Profile</span>&ndash;&gt;-->
        <!--&lt;!&ndash;              </a>&ndash;&gt;-->
        <!--&lt;!&ndash;            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;            <li *ngSwitchCase="true">&ndash;&gt;-->
        <!--&lt;!&ndash;              <a&ndash;&gt;-->
        <!--&lt;!&ndash;                class="dropdown-item"&ndash;&gt;-->
        <!--&lt;!&ndash;                routerLink="account/settings"&ndash;&gt;-->
        <!--&lt;!&ndash;                routerLinkActive="active"&ndash;&gt;-->
        <!--&lt;!&ndash;                (click)="collapseNavbar()"&ndash;&gt;-->
        <!--&lt;!&ndash;                data-cy="settings"&ndash;&gt;-->
        <!--&lt;!&ndash;              >&ndash;&gt;-->
        <!--&lt;!&ndash;                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;                <span>Settings</span>&ndash;&gt;-->
        <!--&lt;!&ndash;              </a>&ndash;&gt;-->
        <!--&lt;!&ndash;            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;            <li *ngSwitchCase="true">&ndash;&gt;-->
        <!--&lt;!&ndash;              <a&ndash;&gt;-->
        <!--&lt;!&ndash;                class="dropdown-item"&ndash;&gt;-->
        <!--&lt;!&ndash;                routerLink="account/password"&ndash;&gt;-->
        <!--&lt;!&ndash;                routerLinkActive="active"&ndash;&gt;-->
        <!--&lt;!&ndash;                (click)="collapseNavbar()"&ndash;&gt;-->
        <!--&lt;!&ndash;                data-cy="passwordItem"&ndash;&gt;-->
        <!--&lt;!&ndash;              >&ndash;&gt;-->
        <!--&lt;!&ndash;                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;                <span>Password</span>&ndash;&gt;-->
        <!--&lt;!&ndash;              </a>&ndash;&gt;-->
        <!--&lt;!&ndash;            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;            <li *ngSwitchCase="true">&ndash;&gt;-->
        <!--&lt;!&ndash;              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">&ndash;&gt;-->
        <!--&lt;!&ndash;                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;                <span>Sign out</span>&ndash;&gt;-->
        <!--&lt;!&ndash;              </a>&ndash;&gt;-->
        <!--&lt;!&ndash;            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;            <li *ngSwitchCase="false">&ndash;&gt;-->
        <!--&lt;!&ndash;              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">&ndash;&gt;-->
        <!--&lt;!&ndash;                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;                <span>Sign in</span>&ndash;&gt;-->
        <!--&lt;!&ndash;              </a>&ndash;&gt;-->
        <!--&lt;!&ndash;            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;            <li *ngSwitchCase="false">&ndash;&gt;-->
        <!--&lt;!&ndash;              <a&ndash;&gt;-->
        <!--&lt;!&ndash;                class="dropdown-item"&ndash;&gt;-->
        <!--&lt;!&ndash;                routerLink="account/register"&ndash;&gt;-->
        <!--&lt;!&ndash;                routerLinkActive="active"&ndash;&gt;-->
        <!--&lt;!&ndash;                (click)="collapseNavbar()"&ndash;&gt;-->
        <!--&lt;!&ndash;                data-cy="register"&ndash;&gt;-->
        <!--&lt;!&ndash;              >&ndash;&gt;-->
        <!--&lt;!&ndash;                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;                <span>Register</span>&ndash;&gt;-->
        <!--&lt;!&ndash;              </a>&ndash;&gt;-->
        <!--&lt;!&ndash;            </li>&ndash;&gt;-->
        <!--          </ul>-->
        <!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
