<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title>TrackTracker account created</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.greeting(${user.firstName + ' ' + user.lastName})}">Hi,</p>
    <p>Your TrackTracker account has been created, please click on the URL below to access it:</p>
    <hr />
    <p>
      <a th:with="url=(@{|${baseUrl}/account/reset/finish?key=${user.resetKey}|})" th:href="${url}" th:text="${url}"> (LOGIN LINK) </a>
    </p>
    <hr />
    <p>
      <span th:text="#{email.activation.text2}">Thanks, </span>
      <br />
      <em th:text="#{email.signature}">The TrackTracker team</em>
    </p>
  </body>
</html>
