<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="album">
      <h2 data-cy="albumDetailsHeading"><span>Album</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ album.id }}</span>
        </dd>
        <dt><span>Spotify ID</span></dt>
        <dd>
          <span>{{ album.spotifyID }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ album.name }}</span>
        </dd>
        <dt><span>Image URL</span></dt>
        <dd>
          <span>{{ album.imageURL }}</span>
        </dd>
        <dt><span>Release Date</span></dt>
        <dd>
          <span>{{ album.releaseDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Album Type</span></dt>
        <dd>
          <span>{{ album.albumType }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/album', album.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
