<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="playlist">
      <h2 data-cy="playlistDetailsHeading"><span>Playlist</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ playlist.id }}</span>
        </dd>
        <dt><span>Spotify ID</span></dt>
        <dd>
          <span>{{ playlist.spotifyID }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ playlist.name }}</span>
        </dd>
        <dt><span>Image URL</span></dt>
        <dd>
          <span>{{ playlist.imageURL }}</span>
        </dd>
        <dt><span>Playlist Stats</span></dt>
        <dd>
          <div *ngIf="playlist.playlistStats">
            <a [routerLink]="['/playlist-stats', playlist.playlistStats.id, 'view']">{{ playlist.playlistStats.id }}</a>
          </div>
        </dd>
        <dt><span>Song</span></dt>
        <dd>
          <span *ngFor="let song of playlist.songs; let last = last">
            <a [routerLink]="['/song', song.id, 'view']">{{ song.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>App User</span></dt>
        <dd>
          <div *ngIf="playlist.appUser">
            <a [routerLink]="['/app-user', playlist.appUser.id, 'view']">{{ playlist.appUser.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/playlist', playlist.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
