<!--LOGGED-IN--->
<div *ngIf="account !== null" class="root">
  <div class="greeting">
    <h1>Welcome back, {{ customAccount.firstName }}!</h1>
    <p class="lead">{{ getLastUpdateMessage() }}</p>
  </div>

  <div class="scroll-wrapper">
    <section class="profiles">
      <button (click)="gotoProfile()" class="profile-card">
        <img [src]="customAccount.avatarURL" alt="Your profile picture" height="80" width="80" />

        <div class="details">
          <p class="name">{{ customAccount.firstName + ' ' + customAccount.lastName }}</p>
          <p class="friends">{{ customAccount.friends.length }} friends</p>
          <p class="hint">Click to visit your profile</p>
        </div>
      </button>

      <hr class="divider" />

      <button *ngFor="let friend of customAccount.friends; index as i; trackBy: trackByIndex" class="friend-card">
        <img
          *ngIf="friend.pinned"
          [src]="friend.avatarURL"
          alt="{{ friend.firstName + ' ' + friend.lastName }}'s profile picture"
          height="64"
          width="64"
        />
        <p *ngIf="friend.pinned" class="name">{{ friend.firstName + ' ' + friend.lastName }}</p>
      </button>

      <button *ngIf="!hasMaxPinned()" class="friend-card">
        <div class="circle-button">
          <fa-icon icon="add" [fixedWidth]="true"></fa-icon>
        </div>

        <p class="name">Pin friend</p>
      </button>
    </section>
  </div>

  <div [ngSwitch]="account !== null">
    <div class="alert alert-success" *ngSwitchCase="true">
      <span id="home-logged-message" *ngIf="account">You are logged in as user "{{ account.login }}".</span>
    </div>
  </div>
</div>

<!--LOGGED-OUT-->
<div *ngIf="account === null" class="root">
  <div class="greeting">
    <h1>Welcome to {{ APP_NAME }}</h1>
    <p class="lead">Your music tastes, <em>connected</em></p>
  </div>

  <div class="messages">
    <div class="alert alert-warning">
      <span>You can access </span><a class="alert-link" routerLink="/insights/playlist">Playlist Insights</a>
      <span>
        without an account, but if <br />
        you'd like access to all features you'll need to
      </span>
      <a class="alert-link" routerLink="/account/register">sign up</a>
      <span> or </span>
      <a class="alert-link" routerLink="/login">log in.</a>
    </div>
  </div>
</div>
