/* ==========================================================================
Main page styles
========================================================================== */

div:not(.alert),
section {
  display: flex;
}

.alert {
  text-align: center;
}

p {
  margin: 0;
}

//:host {
//  margin: 0;
//  min-height: 100vh;
//  overflow-x: hidden;
//
//  &::before {
//    all: unset;
//    z-index: 0;
//    content: '';
//    display: block;
//    position: absolute;
//    float: left;
//    width: 700px;
//    aspect-ratio: 1;
//    height: auto;
//    top: -20vw;
//    margin-left: calc((100% - 700px) / 2);
//    margin-right: calc((100% - 700px) / 2);
//    border-radius: 1000px;
//    pointer-events: none;
//
//    background: linear-gradient(rgb(black, 0%) 0%, rgb(164, 66, 210, 20%) 50%, rgb(164, 66, 210, 100%) 100%);
//    filter: blur(60px);
//    //animation: hue-shift 60s ease infinite, pulse 14s ease infinite; /* Adjust duration and timing function */
//  }
//}

.root {
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 32px 64px;
  gap: 64px;
  overflow-x: hidden;

  .greeting {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .messages {
    display: block;
    align-items: center;
  }

  .scroll-wrapper {
    margin: 0 -100px;
    width: 100%;
    justify-content: center;
  }

  // PROFILES SECTION
  .profiles {
    overflow-x: scroll;
    gap: 32px;
    justify-content: flex-start;

    .name {
      font-size: 1.3rem;
    }

    img {
      border-radius: 1000px;
      border: solid 2px rgb(255, 255, 255, 0.1);
    }

    button {
      cursor: pointer;
      transition: background-color 50ms ease-out;
      border: solid 1px rgb(255, 255, 255, 0.5);

      &:hover p:not(.hint) {
        text-decoration: underline;
      }

      &:active p:not(.hint) {
        text-decoration: none;
      }
    }

    .friend-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 16px;
      border-radius: 8px;
      gap: 16px;
      background: transparent;

      &:hover {
        background: rgb(255, 255, 255, 0.1);
      }

      &:active {
        background: rgb(255, 255, 255, 0.05);
      }

      .name {
        white-space: nowrap;
      }
    }

    .profile-card {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 24px 32px;
      border-radius: 8px;
      gap: 32px;
      background: rgb(255, 255, 255, 0.2);
      transition: background-color 50ms ease-out;

      p {
        color: white;
      }

      &:hover {
        background: rgb(255, 255, 255, 0.3);
      }

      &:active {
        background: rgb(255, 255, 255, 0.25);
      }

      .details {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;

        .friends {
          font-size: 1.1rem;
        }

        .hint {
          margin-top: 8px;
          font-size: 1rem;
          color: rgb(255, 255, 255, 0.75);
          white-space: nowrap;
        }
      }
    }
  }

  // FEED SECTION
  .feed {
    flex-direction: column;
    gap: 32px;

    align-self: stretch;

    header {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .heading {
      position: relative;
      left: -4px;
      gap: 16px;
      align-items: center;

      h2 {
        margin: 0;
      }

      span {
        font-size: 32px;
      }
    }

    .card-list {
      display: grid;
      gap: 32px;
      grid-template-columns: repeat(auto-fill, minmax(238px, 238px));
      justify-content: start;

      @media (max-width: 650px) {
        justify-content: center;
      }
    }
  }
}

.divider {
  margin-top: auto;
  margin-bottom: auto;
  height: 55px;
  min-width: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}

.load {
  display: inline-flex;
  gap: 12px;
  margin-bottom: 50px;

  .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    animation: wave 1.3s ease infinite;

    &:nth-child(2) {
      animation-delay: -1.1s;
    }

    &:nth-child(3) {
      animation-delay: -0.9s;
    }
  }

  @keyframes wave {
    0%,
    60%,
    100% {
      transform: initial;
    }

    30% {
      transform: translateY(-25px);
    }
  }
}

#pin-modal {
  .friend-card {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    background: transparent;

    &:has(input[type='checkbox']:not(:checked)) {
      border-color: transparent;
    }
  }

  .friend-card:has(input[type='checkbox']:checked) {
    background: rgb(255, 255, 255, 0.2);
    transition: background-color 200ms ease;
  }

  .friend-card img {
    border-radius: 5000px;
    margin-right: 12px;
  }

  .friend-card .name {
    margin: 0;
    font-size: 16px;
  }

  .friend-card input[type='checkbox'] {
    margin-right: 12px;
  }
}
