<!--LOADING UI--->
<div [@fadeIn]="loading" *ngIf="loading && account != null" class="root app-loading">
  <h2>Loading</h2>
  <div class="load">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>

<!--AppUser-logged-in--->
<div [@fadeIn]="loading" *ngIf="!loading && account_data !== null" class="root">
  <header class="greeting">
    <h1>Welcome back, {{ getNames()[0] }}!</h1>
    <p class="lead">{{ getLastUpdateMessage() }}</p>
  </header>

  <div class="scroll-wrapper">
    <!--CAN ONLY BE SHOWN IF THE ACCOUNT_DATA IS INITIALISED-->
    <section class="profiles">
      <button (click)="gotoProfile()" class="profile-card">
        <img [src]="account_data.avatarURL" alt="Your profile picture" height="80" width="80" />

        <div class="details">
          <p class="name">{{ getNames().join(' ') }}</p>
          <p class="friends">{{ account_data.friends.length }} friends</p>
          <p class="hint">Click to visit your profile</p>
        </div>
      </button>

      <hr class="divider" />

      <button *ngFor="let friend of getPinnedFriends(); index as i; trackBy: trackByIndex" class="friend-card">
        <img [src]="friend.avatarURL" alt="{{ friend.firstName + ' ' + friend.lastName }}'s profile picture" height="64" width="64" />
        <p class="name">{{ friend.firstName + ' ' + friend.lastName }}</p>
      </button>

      <button *ngIf="!hasMaxPinned()" class="friend-card" (click)="openModal(pinFriendsModal)">
        <div class="circle-button">
          <fa-icon *ngIf="getPinnedFriends().length != 0" icon="edit" [fixedWidth]="true"></fa-icon>
          <fa-icon *ngIf="getPinnedFriends().length == 0" icon="add" [fixedWidth]="true"></fa-icon>
        </div>

        <p class="name" *ngIf="getPinnedFriends().length != 0">Edit</p>
        <p class="name" *ngIf="getPinnedFriends().length == 0">Pin friends</p>
      </button>
    </section>
  </div>

  <section class="feed">
    <header>
      <div class="heading">
        <span class="material-symbols-outlined">dashboard</span>
        <h2>My feed</h2>
      </div>
      <p class="subtitle">Updates on you and your friends listening trends, stats and milestones.</p>
    </header>

    <div class="card-list">
      <jhi-card *ngFor="let card of account_data.feed.cards; let i = index; trackBy: trackByCardID" [card]="card"></jhi-card>
    </div>
  </section>
</div>

<!--AppUser-logged-out-->
<div [@fadeIn]="account != null" *ngIf="account_data == null" class="root">
  <div class="greeting">
    <h1>Welcome to {{ APP_NAME }}</h1>
    <p class="lead">Your music tastes, <em>connected</em></p>
  </div>

  <div class="messages">
    <div class="alert alert-success" *ngIf="account != null">
      <span id="home-logged-message">You are logged in as user "{{ account.login }}".</span>
    </div>

    <div class="alert alert-warning" *ngIf="account == null">
      <span>You can access </span><a class="alert-link" routerLink="/insights/playlist">Playlist Insights</a>
      <span>
        without an account, but if <br />
        you'd like access to all features you'll need to
      </span>
      <a class="alert-link" routerLink="/account/register">register</a>
      <span> or </span>
      <a class="alert-link" routerLink="/login">log in.</a>
    </div>
  </div>

  <!--  <section>-->
  <!--    <h2>Features</h2>-->
  <!--    <p>This is a paragraph</p>-->
  <!--    <ul>-->
  <!--      <li>Playlist Analyser</li>-->
  <!--      <li>Insights</li>-->
  <!--    </ul>-->
  <!--  </section>-->
</div>

<ng-template #pinFriendsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Pin friends</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body" *ngIf="this.account_data" [ngSwitch]="this.account_data.friends.length != 0">
    <div *ngSwitchCase="true" class="d-flex flex-column">
      <p>Select which friends are pinned to your home page</p>
      <label *ngFor="let friend of this.account_data.friends; index as i; trackBy: trackByIndex" class="friend-card">
        <input type="checkbox" [defaultChecked]="friend.pinned" />
        <img [src]="friend.avatarURL" alt="{{ friend.firstName + ' ' + friend.lastName }}'s profile picture" height="64" width="64" />
        <p class="name">{{ friend.firstName + ' ' + friend.lastName }}</p>
      </label>
    </div>

    <div *ngSwitchCase="false">
      <p>You haven't made any friends yet. Find people you know on the <a routerLink="friends">Friends Page</a></p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="button secondary" (click)="modal.close('Cancel click')">Cancel</button>
    <button type="button" class="button primary" (click)="savePinnedFriends()">Save</button>
  </div>
</ng-template>
