/* ==========================================================================
Main page styles
========================================================================== */

//.hipster {
//  display: inline-block;
//  width: 347px;
//  height: 497px;
//  background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
//  background-size: contain;
//}

///* wait autoprefixer update to allow simple generation of high pixel density media query */
//@media only screen and (-webkit-min-device-pixel-ratio: 2),
//  only screen and (-moz-min-device-pixel-ratio: 2),
//  only screen and (-o-min-device-pixel-ratio: 2/1),
//  only screen and (min-resolution: 192dpi),
//  only screen and (min-resolution: 2dppx) {
//  .hipster {
//    background: url('../../content/images/jhipster_family_member_0.svg') no-repeat center top;
//    background-size: contain;
//  }
//}

// The top level div of each page
.root {
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before {
    all: unset;
    z-index: 0;
    content: '';
    display: block;
    position: fixed;
    width: 700px;
    aspect-ratio: 1;
    height: auto;
    top: -20vw;
    margin-left: calc((100vw - 700px) / 2);
    margin-right: calc((100vw - 700px) / 2);
    border-radius: 1000px;
    pointer-events: none;

    background: linear-gradient(rgb(black, 0%) 0%, rgb(164, 66, 210, 20%) 50%, rgb(164, 66, 210, 100%) 100%);
    filter: blur(60px);
    animation: hue-shift 60s ease infinite, pulse 14s ease infinite; /* Adjust duration and timing function */
  }

  // The content div - different to div so that you can use bootstrap to resize dynamically
  .column {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
