<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-card-template-heading" data-cy="CardTemplateCreateUpdateHeading">Create or edit a Card Template</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_color">Color</label>
          <select class="form-control" name="color" formControlName="color" id="field_color" data-cy="color">
            <option [ngValue]="null"></option>
            <option *ngFor="let color of colorValues" [value]="color">color</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_layout">Layout</label>
          <select class="form-control" name="layout" formControlName="layout" id="field_layout" data-cy="layout">
            <option [ngValue]="null"></option>
            <option *ngFor="let layout of layoutValues" [value]="layout">layout</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_font">Font</label>
          <select class="form-control" name="font" formControlName="font" id="field_font" data-cy="font">
            <option [ngValue]="null"></option>
            <option *ngFor="let font of fontValues" [value]="font">font</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_appUser">App User</label>
          <select
            class="form-control"
            id="field_appUser"
            data-cy="appUser"
            name="appUser"
            formControlName="appUser"
            [compareWith]="compareAppUser"
          >
            <option *ngIf="editForm.get(['appUser'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="appUserOption" *ngFor="let appUserOption of appUsersSharedCollection">{{ appUserOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['appUser'])!.invalid && (editForm.get(['appUser'])!.dirty || editForm.get(['appUser'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['appUser'])?.errors?.required"> This field is required. </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
