<div>
  <h2 id="page-heading" data-cy="FeedCardHeading">
    <span>Feed Cards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-feed-card"
        [routerLink]="['/feed-card/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Feed Card </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="feedCards?.length === 0">
    <span>No Feed Cards found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="feedCards && feedCards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="liked">
            <div class="d-flex">
              <span>Liked</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="feed.id">
            <div class="d-flex">
              <span>Feed</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="card.id">
            <div class="d-flex">
              <span>Card</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let feedCard of feedCards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/feed-card', feedCard.id, 'view']">{{ feedCard.id }}</a>
          </td>
          <td>{{ feedCard.liked }}</td>
          <td>
            <div *ngIf="feedCard.feed">
              <a [routerLink]="['/feed', feedCard.feed.id, 'view']">{{ feedCard.feed.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="feedCard.card">
              <a [routerLink]="['/card', feedCard.card.id, 'view']">{{ feedCard.card.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/feed-card', feedCard.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/feed-card', feedCard.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(feedCard)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
