<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="appUser">
      <h2 data-cy="appUserDetailsHeading"><span>App User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ appUser.id }}</span>
        </dd>
        <dt><span>Spotify ID</span></dt>
        <dd>
          <span>{{ appUser.spotifyID }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ appUser.name }}</span>
        </dd>
        <dt><span>Avatar URL</span></dt>
        <dd>
          <span>{{ appUser.avatarURL }}</span>
        </dd>
        <dt><span>Bio</span></dt>
        <dd>
          <span>{{ appUser.bio }}</span>
        </dd>
        <dt><span>Spotify Username</span></dt>
        <dd>
          <span>{{ appUser.spotifyUsername }}</span>
        </dd>
        <dt><span>User Preferences</span></dt>
        <dd>
          <div *ngIf="appUser.userPreferences">
            <a [routerLink]="['/user-preferences', appUser.userPreferences.id, 'view']">{{ appUser.userPreferences.id }}</a>
          </div>
        </dd>
        <dt><span>Spotify Token</span></dt>
        <dd>
          <div *ngIf="appUser.spotifyToken">
            <a [routerLink]="['/spotify-token', appUser.spotifyToken.id, 'view']">{{ appUser.spotifyToken.id }}</a>
          </div>
        </dd>
        <dt><span>Feed</span></dt>
        <dd>
          <div *ngIf="appUser.feed">
            <a [routerLink]="['/feed', appUser.feed.id, 'view']">{{ appUser.feed.id }}</a>
          </div>
        </dd>
        <dt><span>Blocked By User</span></dt>
        <dd>
          <div *ngIf="appUser.blockedByUser">
            <a [routerLink]="['/app-user', appUser.blockedByUser.id, 'view']">{{ appUser.blockedByUser.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/app-user', appUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
