<div>
  <h2 id="page-heading" data-cy="CardHeading">
    <span>Cards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-card"
        [routerLink]="['/card/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Card </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="cards?.length === 0">
    <span>No Cards found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="cards && cards.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="metric">
            <div class="d-flex">
              <span>Metric</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timeFrame">
            <div class="d-flex">
              <span>Time Frame</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="metricValue">
            <div class="d-flex">
              <span>Metric Value</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timeGenerated">
            <div class="d-flex">
              <span>Time Generated</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="appUser.id">
            <div class="d-flex">
              <span>App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let card of cards; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/card', card.id, 'view']">{{ card.id }}</a>
          </td>
          <td>{{ card.metric }}</td>
          <td title="{{ card.timeFrame }}">{{ card.timeFrame | duration }}</td>
          <td>{{ card.metricValue }}</td>
          <td>{{ card.timeGenerated | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="card.appUser">
              <a [routerLink]="['/app-user', card.appUser.id, 'view']">{{ card.appUser.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/card', card.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/card', card.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(card)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
