@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

//@import '~bootswatch/dist/darkly/variables';
//@import '~bootswatch/dist/darkly/bootswatch';

/* ==========================================================================
Globals for standard layout and formatting
========================================================================== */

* {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

h3,
h4,
.lead {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 2.2em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.01em;
}

h2 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

p,
.body-text {
  font-size: 1em;
}

.lead {
  font-size: 1rem;
}

.subtitle {
  font-size: 1.1em;
  font-weight: 700;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.fill {
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.large {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

.material-symbols-outlined.large.fill {
  font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

// The top level div of each page
.root {
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  // The content div - different to div so that you can use bootstrap to resize dynamically
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

// The highest root element, needed to ensure proper scrolling
// and flex layout (ensures full height layout when below 100vh height)
jhi-main {
  background: $body-bg-dark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.form-control {
  background: rgb($body-bg-dark, 0.5);
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;
    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }
    .popover pre {
      font-size: 10px;
    }
  }
  .jhi-toast {
    position: fixed;
    width: 100%;
    &.left {
      left: 5px;
    }
    &.right {
      right: 5px;
    }
    &.top {
      top: 55px;
    }
    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity list page css
========================================================================== */

.table-entities thead th .d-flex > * {
  margin: auto 0;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .row-md.jh-entity-details > {
    dt {
      float: left;
      overflow: hidden;
      clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }
    dd {
      border-bottom: 1px solid #eee;
      padding: 0.5em 0;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-menu {
  padding-left: 0;
}

jhi-password-strength-bar {
  #strength {
    display: flex;
    flex-direction: row;
    align-items: center;
    #strengthBar {
      padding-left: 0.75rem;
      margin-bottom: 4px;
    }
  }
}

.alert-warning {
  --bs-alert-color: rgb(255, 255, 255);
  --bs-alert-bg: rgba(17, 6, 17, 0.7);
  --bs-alert-border-color: rgb(255, 255, 255, 0.2);
  border-bottom: var(--bs-alert-link-color) solid 2px;
  --bs-alert-link-color: rgb(227, 141, 255);
  border-radius: 8px;
}

.button {
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 100ms ease-out, border-top-color 200ms ease-out, transform 200ms ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:not(:disabled):hover {
    transform: translateY(-1px);
  }
  &:not(:disabled):active {
    transform: translateY(0);
  }
}

.button.primary {
  background-color: hsl(281, 61%, 44%);
  border: solid 1px rgb(255, 255, 255, 0.15);

  &:not(:disabled) {
    &:hover {
      background-color: hsl(281, 61%, 49%);
      border-top: solid 1px rgb(255, 255, 255, 0.4);
    }

    &:active {
      background-color: hsl(281, 61%, 44%);
      border-top: solid 1px rgb(255, 255, 255, 0.15);
    }
  }

  &:disabled {
    color: rgb(255, 255, 255, 0.5);
    background-color: hsl(281, 61%, 80%, 0.1);
    border: solid 1px hsl(281, 61%, 80%, 0.3);
  }
}

.button.secondary {
  background-color: rgb(255, 255, 255, 0.2);
  border: solid 1px rgb(255, 255, 255, 0.2);

  &:not(:disabled) {
    &:hover {
      background-color: rgb(255, 255, 255, 0.25);
      border-top: solid 1px rgb(255, 255, 255, 0.5);
    }

    &:active {
      background-color: rgb(255, 255, 255, 0.2);
      border-top: solid 1px rgb(255, 255, 255, 0.2);
    }
  }
}

/* ==========================================================================
angular-cli removes postcss-rtl processed inline css, processed rules must be added here instead
========================================================================== */
/* page-ribbon.component.scss */
.ribbon {
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* navbar.component.scss */
.navbar {
  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }
}
/* jhipster-needle-scss-add-main JHipster will add new css style */
