:host {
  //display: flex;
  //width: 100%;
}

p {
  margin: 0;
}

.feed-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 16px;
  width: 238px;
  border-radius: 8px;
  box-shadow: 0 8px 32px rgb(255, 208, 88, 0.3);

  transition: all ease-out 200ms;

  &.milestone {
    background-color: rgb(255, 208, 88);
    border: solid 2px rgb(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px rgb(255, 208, 88, 0.3);

    * {
      color: black;
    }
  }

  &.new-playlist {
    background-color: rgb(164, 66, 210);
    border: solid 2px rgb(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgb(164, 66, 210, 0.5);

    * {
      color: white;
    }
  }

  &.friend-update {
    background-color: rgb(53, 50, 213);
    border: solid 2px rgb(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgb(53, 50, 213, 0.75);

    * {
      color: white;
    }
  }

  &.personal {
    background-color: rgb(164, 66, 210);
    border: solid 2px rgb(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgb(164, 66, 210, 0.5);

    * {
      color: white;
    }
  }

  &.new-friend,
  &.friend-request {
    background-color: rgb(63, 63, 63);
    border: solid 2px rgb(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgb(63, 63, 63, 0.75);

    * {
      color: white;
    }
  }

  &:hover {
    transform: scale(1.01) translateY(-4px);
    filter: brightness(1.1);
  }

  &:active {
    transform: none;
    filter: brightness(0.8);
  }
}

.type {
  align-self: stretch;
  text-align: left;
  opacity: 70%;
}

.icon {
  font-size: 48px;
}

.message {
  align-self: stretch;
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
}

.time {
  align-self: stretch;
  text-align: center;
  opacity: 70%;
}
