<div>
  <h2 id="page-heading" data-cy="SpotifyTokenHeading">
    <span>Spotify Tokens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-spotify-token"
        [routerLink]="['/spotify-token/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Spotify Token </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="spotifyTokens?.length === 0">
    <span>No Spotify Tokens found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="spotifyTokens && spotifyTokens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="accessToken">
            <div class="d-flex">
              <span>Access Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tokenType">
            <div class="d-flex">
              <span>Token Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="userScope">
            <div class="d-flex">
              <span>User Scope</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="expires">
            <div class="d-flex">
              <span>Expires</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="refreshToken">
            <div class="d-flex">
              <span>Refresh Token</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spotifyToken of spotifyTokens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/spotify-token', spotifyToken.id, 'view']">{{ spotifyToken.id }}</a>
          </td>
          <td>{{ spotifyToken.accessToken }}</td>
          <td>{{ spotifyToken.tokenType }}</td>
          <td>{{ spotifyToken.userScope }}</td>
          <td>{{ spotifyToken.expires | formatMediumDatetime }}</td>
          <td>{{ spotifyToken.refreshToken }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/spotify-token', spotifyToken.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/spotify-token', spotifyToken.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(spotifyToken)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
